{% extends 'layout_3col.html.twig' %}
{% set title = 'Bejelentkezés' %}


{% block page_title %}
    {{ title }} {{ ' | '~ parent() }}
{% endblock %}


{% block content %}
    <div class="mb-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary" type="submit">Bejelentkezés</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
