<a href="javascript:OpenScrollWindow('/templom/{{ church.id }}/eszrevetelek',550,500);">
	<i class='{{ _context[church.remarksicon] }}' style='font-size:medium'  	title='Észrevételek kezelése'></i></a>
<a href='/templom/{{ church.id }}/edit'>
	<i class='{{ ICONS_CHURCH_EDIT }}' style='font-size:medium'  	title='Adatlap szerkesztése'></i></a>
<a href='/templom/{{ church.id }}/editschedule' >
	<i class='{{ ICONS_MASSSCHEDULE }} ' style='font-size:medium' 	title='Miserend szerkesztése'></i></a>
<a href='/templom/{{ church.id }}/editphotos'>
	<i class='{{ ICONS_CHURCH_PHOTOS }}' style='font-size:medium' 	title='Fényképek szerkesztése'></i></a>	
<a href="/templom/{{ church.id }}">
	<i class="{{ ICONS_CHURCH_SEE }}" style='font-size:medium' 		title="Ugrás a templom oldalára."></i></a>	