{% set title = 'Facebook' %}

{% block body %}     

	{% set facebookLinkExists = false %}
	{% for link in links %}
		{% if link.type == 'facebook' %}
			{% set facebookLinkExists = true %}
		{% endif %}
	{% endfor %}

	{% if facebookLinkExists  %}

		<div class="panel-group hidden-xs" id="accordion">
		<div class="panel panel-default" {% if id %}id="{{id}}"{% endif %}>
		
		<script async defer 
					crossorigin="anonymous"		src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v14.0&appId=259925661728758&autoLogAppEvents=1" 
					nonce="LHJX0sYO" 
					></script>
		<div id="fb-root"></div>	
		
		{% for key, link in links %}

			{% if link.type == 'facebook' %}
						
				<div 
					class="fb-page" 
					data-href="{{link.href}}" 
					data-tabs="timeline" 
					data-width="" 
					data-height="" 
					data-small-header="true" 
					data-adapt-container-width="true" 
					data-hide-cover="false" 
					data-show-facepile="false"
					>
					
					<blockquote cite="{{link.href}}" class="fb-xfbml-parse-ignore">
						<a href="{{link.href}}/">{{link.title}}</a>
					</blockquote>
				</div>
							
			{% endif %}
		

		
		{% endfor %}
		</div>
		</div>
	
    {% endif %}

{%  endblock %}