{% extends 'panel.twig' %}

{% set title = 'Szomszédos templomok' %}

{% block body %}
    {% if neighbours|length > 1 %}
        <ul style="-webkit-padding-start: 20px;-webkit-margin-before: 0em;">
            {% for i in 0..9 %}
                {% if neighbours[i] %} {{ _self.neighbour(neighbours[i],location) }} {% endif %}
            {% endfor %}
            {% if neighbours|length > 9 %}<li style="display:inline">...</li>{% endif %}
        </ul>
    {% endif %}    
{% endblock %}    

{% macro neighbour(array,location) %}
    <li>
        <a 
            href="/templom/{{ array.id }}" 
            class="link" 
            title="{{ array.ismertnev }} ({{ ( array.distance / 1000 )|number_format(1, '.', '') }} km)"  
            onclick="ga('send', 'event', 'Inbound Links', 'Szomszedsag', '?templom={{ array.id }}')">
            {{ array.nev }}{% if location.city.name != array.location.city.name  %} ({{ array.location.city.name  }}){% endif %}
        </a>
    </li>
{% endmacro %}
