{% set title = 'Facebook' %}

{% block body %}     
	{% for link in links %}
		{% if link.type == 'facebook' %}
		
		<div class="panel-group hidden-xs" id="accordion">
		<div class="panel panel-default" {% if id %}id="{{id}}"{% endif %}>
        
        <div id="fb-root"></div>

		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v14.0&appId=259925661728758&autoLogAppEvents=1" nonce="LHJX0sYO"></script>
		<div class="fb-page" data-href="https://www.facebook.com/{{link.title}}/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
			<blockquote cite="https://www.facebook.com/{{link.title}}/" class="fb-xfbml-parse-ignore">
				<a href="https://www.facebook.com/{{link.title}}/">{{link.title}}</a>
			</blockquote>
		</div>
		{% endif %}
		
	{% endfor %}
       
    </div>
</div>

{%  endblock %}