{% extends 'panel.twig' %}
{% set panel = 'success' %}


{% block title -%}
    OSM Data
{%- endblock %}


{% block body %}
    {% if church %}
        {% set osm = church.osm %}
    {% endif %}

    <style>
		.fixed_headers {
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
                        white-space: nowrap;                       
		}
		.fixed_headers th {
			text-decoration: underline;
		}
		.fixed_headers th,
		.fixed_headers td {
			padding:2px;
			text-align: left;
		}
		
		.fixed_headers tbody {
			display: block;
			overflow: auto;
			width: 100%;
                        max-height: 300px;
		}
		.fixed_headers tbody tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
    <strong>
        <a href="http://www.openstreetmap.org/{{ osm.osmtype }}/{{ osm.osmid }}">
            {{ osm.osmtype }}:{{ osm.osmid }}
        </a>
    </strong>
    <table class="fixed_headers">                    
    {% for key, tag in osm.tagList %}
        <tr>
            <td>{{ key }}:</td>
            <td>{{ tag }}</td>
        </tr>
    {% endfor %}
    </table><hr/>
    <strong>Enclosing features</strong>
    <table class="fixed_headers">               
    {% for element in osm.enclosing %}
        <tr>
            <th colspan="2">
                <a href="http://www.openstreetmap.org/{{ element.osmtype }}/{{ element.osmid }}">
                    {{ element.osmtype }}:{{ element.osmid }}
                </a>
            </th>
            
        </tr>
        {% for key, tag in element.tagList %}
        <tr>
            <td>{{ key }}:</td>
            <td>{{ tag }}</td>
        </tr>
        {% endfor %}        
    {% endfor %}
    </table>
{% endblock %}    

