{% extends 'panel.twig' %}
{% set panel = 'primary' %}


{% block title %}
    Következő közvetítések a <a href="https://liturgia.tv/miserend/{{ id }}">liturgia.tv</a> segítségével:
{% endblock %}


{% block body %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .material-icons.highlight
        {
           color: #b58f04;
       }
       .material-icons.live {
           color: red;
       }
       .material-icons.disabled {
           color: #00000042;
       }
    </style>
    <table class="table table-striped">
        {% for stream in liturgiatv|slice(0, 5) %}
            <tr>
                <td>{{ _honapok[stream.date | date('n')][0] }}. {{ stream.date| date('d.')}} <strong>{{ stream.time|date('H:i') }}</strong></td>
                <td>{{ stream.name }}</td>
                <td><a href="{{ stream.url }}"><i class="material-icons {{ stream.iconstate }}">&#xe63a;</i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block footer %}
    További közvetítések: <a href="https://liturgia.tv/miserend/{{ id }}">liturgia.tv</a>
	<div style="float:right"><span class="glyphicon glyphicon-warning-sign"></span>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSfhe8nNAO_u80yTvgb1XD2T8GB-TMC5o8pvC5RLW7rLTa5coA/viewform?entry.1880037708={{ "A(z) " ~ nev| striptags ~ "(miserend/" ~ id ~ ") nem ekkor közvetít, hanem " | url_encode }}&entry.1366122954={{ "Hiányzó vagy hibás közvetítés" | url_encode }} " target="_blank">Hiba jelzése itt.</a>
	</div>
{% endblock %}


