{% extends 'panel.twig' %}

{% set title = 'Kapcsolat - elérhetőség' %}
{% set panel = 'primary' %}

{% block body %}
    <div style="width: 230px;overflow: hidden;o-text-overflow: ellipsis;text-overflow: ellipsis;">        
        {% if religious_administration.parish.description %}
            {{ religious_administration.parish.description|raw|nl2br }}<br/>
        {% endif %}
        <div style="white-space: nowrap;overflow: hidden;o-text-overflow: ellipsis;text-overflow: ellipsis;">
        {% if religious_administration.parish.email %}
            Email: <a target="_blank" href='mailto:{{ religious_administration.parish.email }}' class=link>{{ religious_administration.parish.email }}</a><br/>
        {% endif %}
        {% if religious_administration.parish.url %}
            Honlap: <a target="_blank" href='{{ religious_administration.parish.url }}' class=link>{{ religious_administration.parish.url }}</a>
        {% endif %}        
        </div>
    </div>    
{% endblock %}

{% macro osmlink(osm,title = false) %}
    <a target="_blank" href="http://www.openstreetmap.org/{{ osm.osmtype }}/{{ osm.osmid }}" title="{{ title }}">{{ osm.name }}</a>
{% endmacro %}