{% extends 'panel.twig' %}

{% set title = 'Megközelítés' %}

{% if location.osm is not null %}
    {% set panel = 'primary' %}
{% endif %}    

{% block body %}
    <span class=alap>
        <i>Cím: </i>
        <u>{{ location.varos }}, {{ location.cim }}</u>
    </span><br/>
    {% if location.osm is not null %}
        
        <span class=alap>
            <i>Térképen: </i>
            <u><a href="http://www.openstreetmap.org/{{ location.osm }}">
                    {{ location.lat|number_format(6, '.') }}, {{ location.lon|number_format(6, '.') }}
            </a></u>
        </span>
    {% elseif location.lat %}
        <span class=alap>
            <i>Térképen: </i>
            <u><a href="http://www.openstreetmap.org/?mlat={{ location.lat }}&mlon={{ location.lon }}#map=19/{{ location.lat }}/{{ location.lon }}">
                    {{ location.lat }}, {{ location.lon }}
            </a></u>
        </span>
    {% else %}
        <span class=alap>
            <strong>Segíts megtalálni a térképen!</strong>
        </span>        
    {% endif %}
    <br/>
    {{ megkozelites|raw|nl2br }}     
{% endblock %}    
