{% extends 'panel.twig' %}

{% set title = 'Megközelítés' %}

{% if location.osm is not null %}
    {% set panel = 'primary' %}
{% endif %}    

{% block body %}
    <span class=alap>
        {% if location.country and location.country.name != 'Magyarország' %}{{ location.country.name }} <br/>{% endif %}
        {% if location.county and location.county.name != location.country.name  %} {{ location.county.name }}<br/>{% endif %}
        {% if location.city %}{{ location.city.name }}{% endif %}{% if location.district %}, {{ location.district.name }}{% endif %}<br/>
        {{ location.address }}
    </span><br/>
    {% if location.osm is not null %}
        <span class=alap>            
            <i>Térképen: </i>
            <u><a target="_blank" href="{{ location.osm.url }}">
                    {{ location.lat|number_format(6, '.') }}, {{ location.lon|number_format(6, '.') }}
            </a></u>                
        </span>
    {% elseif location.lat %}
        <span class=alap>
            <i>Térképen: </i>
            <u><a target="_blank" href="http://www.openstreetmap.org/?mlat={{ location.lat }}&mlon={{ location.lon }}#map=19/{{ location.lat }}/{{ location.lon }}">
                    {{ location.lat }}, {{ location.lon }}
                </a></u>
        </span>
    {% else %}
        <span class=alap>
            <strong>Segíts megtalálni a térképen!</strong>
        </span>        
    {% endif %}
    <br/>
    {{ megkozelites|raw|nl2br }}     
{% endblock %}    

{% macro osmlink(osm,title = false) %}
    <!--<a href="/collection/{{ osm.osmtype }}:{{ osm.osmid }}" title="{{ title }}">{{ osm.name }}</a>-->
    <a href="{{ osm.url }}" title="{{ title }}" target="_blank">{{ osm.name }}</a>
{% endmacro %}

