
 <div class="accordion accordion-flush" id="periods">
    {% for key,idoszak in miserend.periods %}
      <div class="accordion-item">
          <h2 class="accordion-header" >
              <button class="panel-title accordion-button {% if idoszak.current %}{% else %}collapsed{% endif %}"  data-bs-toggle="collapse" data-bs-target="#collapsePeriod{{ key }}" aria-expanded="{% if idoszak.current %}true{% else %}false{% endif %}" aria-controls="collapsePeriod{{ key }}">                    
                      <strong>{{ idoszak.nev }} <span class="alap" style="font-size:11px">({{ idoszak.datumtol }} - {{ idoszak.datumig }})</span></strong>
              </button>
          </h2>
          <div id="collapsePeriod{{ key }}" class="accordion-collapse collapse  {% if idoszak.current %}show{% endif %}" data-bs-parent="#periods">
              <div class="accordion-body">
                    {% for nap in idoszak.napok %}

                      <div class="nap" style="border-color: rgb(229, 234, 239);border-bottom-width: 1px;border-bottom-style: solid;margin-bottom:3px">
                      {% if nap.misek|length < 1 %}
                            <div style="display: table-row;">

                          <div class="alap" valign="top" style="display: table-cell;width:80px;padding-left:5px;line-height:16px">{{ nap.nev }}</div></div>

                      {% endif %}

                      {% for key, mise in nap.misek %}
                      <div style="display: table-row;">
                        <div class="alap" valign="top" style="display: table-cell;width:80px;padding-left:5px;line-height:16px">{% if key == 0 %}{{ nap.nev }}{% endif %}&nbsp;</div>

                        <div style="display: table-cell;width:60px;text-align:right;line-height:16px" class="alap">{{ nap.misek[key].ido }}</div>

                        <div style="display: table-cell;padding-left:8px" class="alap" style="line-height:16px">
                          {% if nap.misek[key].nap2_raw != "0" %}
                              <span class="alap" style="margin-left: 2px;"> {{ nap.misek[key].nap2 }} </span>{% endif %}  
                          {% if nap.misek[key].attr %}
                              {% for attr in nap.misek[key].attr %} 
                                  {{ _self.info(attr.file,attr.weektext ~ ' ' ~ attr.name) }}
                              {% endfor %}
                          {% endif %}  
                          {% if nap.misek[key].megjegyzes %}
                              {{ _self.info('info2.gif',nap.misek[key].megjegyzes) }}
                          {% endif %}       
                        </div>
                      </div>
                      {% endfor %} 
                      </div>

                    {% endfor %} 
              </div>
          </div>
      </div>
    {% endfor %}
  </div>

   <div class="accordion accordion-flush" id="particulars">
     {% for key,idoszak in miserend.particulars %}
    <div class="accordion-item">
        <h4 class="accordion-header">
			<button class="panel-title accordion-button {% if idoszak.now %}{% else %}collapsed{% endif %}"  data-bs-toggle="collapse" data-bs-target="#collapseParticular{{ key }}" aria-expanded="{% if idoszak.now %}true{% else %}false{% endif %}" aria-controls="collapseParticular{{ key }}">                                
				<strong>{{ idoszak.nev }}</a> <span class="alap" style="font-size:11px">({{ idoszak.datumtol }})</span></strong>
            </button>
        </h4>
        <div id="collapseParticular{{ key }}" class="accordion-collapse collapse  {% if idoszak.now %}show{% endif %}" data-bs-parent="#particulars">

    {% for nap in idoszak.napok %}
      {% for key, mise in nap.misek %}

      <div class="nap" style="border-color: rgb(229, 234, 239);border-bottom-width: 1px;border-bottom-style: solid;margin-bottom:3px">
      {% if mise.length > 4 %} {% endif %}
      <div style="display: table-row;">

        <div style="display: table-cell;width:40px;text-align:right;line-height:16px" class="alap">{{ nap.misek[key].ido }}</div>

        <div style="width:121px;display: table-cell;" class="alap" style="line-height:16px">
          {% if nap.misek[key].nap2_raw != "0" %}
              <span class="alap" style="margin-left: 2px;"> {{ nap.misek[key].nap2 }} </span>{% endif %}  
          {% if nap.misek[key].attr %}
              {% for attr in nap.misek[key].attr %} 
                  {{ _self.info(attr.file,attr.weektext ~ ' ' ~ attr.name) }}
              {% endfor %}
          {% endif %}  
          {% if nap.misek[key].megjegyzes %}
              {{ _self.info('info2.gif',nap.misek[key].megjegyzes) }}
          {% endif %}       
        </div>
      </div>
      </div>
      {% endfor %}  

    {% endfor %}   
    </div> 
    </div>
    {% endfor %}
  </div>

  {% if user.isadmin %}
    <div>      
      <pre>
        <strong>OSM service_times kompatibilis mód:</strong>
        {{ service_times|raw }}
      </pre></div>
  {% endif %}

{% macro info(img,text) %}
    <img src="{{ asset('static/images/{{ img }}') }}" class="massinfo" width=14 title='{{ text }}' height=14 align=absmiddle style="margin-top:0px;margin-left:1px">
    <span class="massfullinfo" style="display:none" id="2">{{ text }}</span>
{% endmacro %}