{% set columns2 = true  %}
{% extends  "layout.twig" %}
{% import "forms.twig" as forms %}

{% set pageTitle = "Templomok | Miserend" %}
{% set title = "Misézőhelyek szerkesztése" %}


{% block content %}

    <form method=get>
        <div class="row">
            <div class="col-md-4"><label>Kulcsszó</label></div>
            <div class="col-md-8">
                <input type=text name=church[keyword] value='{{ form.keyword }}' class=form-control size=20>
            </div>
            <div class="col-md-4"><label>Egyházmegye és espereskerület</label></div>
            <div class="col-md-8">
                {{ forms.select(form.dioceses) }}
                {% for deanery in form.deaneries %}
                    {{ forms.select(deanery) }}
                {% endfor %}
            </div>
            <div class="col-md-4"><label>Szűrés</label></div>
            <div class="col-md-8">
                {{ forms.select(form.status) }}
            </div>
            <div class="col-md-4"><label>Sorrend</label></div>
            <div class="col-md-8">
                {{ forms.select(form.orderBy) }}
            </div>
            <button type="submit" class="btn btn-default">Lista</button>
    </form>
</div>
{% if churches|length > 0 %}
    <div class="row" style="margin-bottom:12px">
        Összesen: {{ pagination.resultsCount }} találat<br/>
        Listázás: {{ (pagination.active * pagination.take) + 1 }} - 
        {% if pagination.resultsCount < ( pagination.active + 1 ) * pagination.take %}
            {{ pagination.resultsCount }}
        {% else %}
            {{ ( pagination.active + 1 ) * pagination.take }} 
        {% endif %}
    </div>

    <table class="table table-hover table-condensed table-striped">
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-7">Misézőhely neve (és városa)</th>
            <th class="col-md-1"><span class="glyphicon glyphicon-time" aria-hidden="true" title="Miserend szerkesztése"></span></th>
            <th class="col-md-1"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Templom szerkesztése"></span></th>
            <th class="col-md-1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Templom lapjának megtekintése"></span></th>
            <th class="col-md-1"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Templom és miserendje törlése"></span></th>
        </tr>
        {% for church in churches %}
            <tr>
                <td>{{ church.jelzes|raw }}</td>
                <td>
                    <a href="/templom/{{ church.id }}/edit" title='{{ church.ismertnev }}'>
                        <strong>{{ church.nev }}</strong> ({{ church.varos }})
                    </a>
                </td>
                <td>
                    <a href="/templom/{{ church.id }}/editschedule">
                        <span class="glyphicon glyphicon-time" aria-hidden="true" title="Miserend szerkesztése..."></span>
                    </a>
                </td>
                <td>
                    <a href="/templom/{{ church.id }}/edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" title="A templom adatainak szerkesztése.">
                    </a>
                </td>
                <td>
                    <a href="/templom/{{ church.id }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ugrás a templom oldalára."></span>
                    </a>
                </td>				
                <td>
                    <a href="/templom/{{ church.id }}/delete" class="red">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Templom törlése..."></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include '_pagination.twig' %}
{% else %}
    <strong>Nem találtunk megfelelő templomot.</strong>
{% endif %}
{% endblock %}


