{% extends "layout.twig" %}

{% set title = 'Gondnokság vállalása' %}

{% block content %}
    <p>Köszönjük, hogy szeretnél ennek a misézőhelynek a gondnoka, felelőse lenni.</p> 
    <p>A felelős legfontosabb feladata, hogy figyelemmel kísérje a miserend változását és azt saját maga felvezesse honlapunk felületén. </p> 
    <p>Hasonló módon a templom valamennyi adatást módosítani tudja, hogy mindig a legfrissebb információk jussanak el a látogatókhoz.</p> 
    <p>Segítségdere leszünk azzal, hogy ha bárki észrevételt küld be a templomhoz, akkor arról emailben értesítünk, ha nem kapcsoltad ki külön az értesítéseket.</p> 
    <p>A felelős feladata az is, hogy a beérkezett észrevételekre reagáljon, ha szükségs, amihez honlapunk segítséget nyújt.</p> 
    <hr>
    <p><strong>Ha vállalod a gondoksággal járó felelősséget, akkor kattints lenn a „Kérés küldése” gombra.</strong></p>    
    
    <FORM ENCTYPE='multipart/form-data' action="/templom/{{ holder.church_id }}/changeholders" method=post>
    <table class="table table-striped align-middle">
        <tr>
            <td>Templom:</td>
            <td>
                <a href="/templom/{{ holder.church.id }}/edit" title='{{ holder.church.ismertnev }}'><strong>{{ holder.church.nev }}</strong> ({{ holder.church.varos }})
            </td>
        </tr>
        <tr>
            <td>Felhasználó:</td>
            <td>
                <input type="hidden" name="uid" value="{{ holder.user_id }}">
                <a href="/user/{{ holder.user.uid }}/edit" ><strong>{{ holder.user.login }}</strong> ({{ holder.user.nev }})
            </td>
        </tr>            
        <tr>
            <td class="align-middle">Kapcsolat a templommal:</td>
            <td>
                <input type="text" class="form-control" name="description" placeholder="pl.: kántor vagyok / saját közösségem" value="{{ holder.description }}">
            </td>
        </tr>                    
    </table>
            <input type="hidden" name="access" value="asked">
            <input type=submit name='submit' value="Kérés küldése" class="form-control">
    </form>
    
            
{%  endblock %}
