{% extends "layout.twig" %}

{% set title = nev %}

{% block pageHeader %}
    <div class="page-header">
        <h2>
            {% if favorite >= 0 %}
                <span 
                    class="ui-icon ui-icon-star {% if favorite == 1 %}yellow{% elseif favorite == 0 %}grey{% endif %}" 
                    style="float:left;font-size:1em;margin-right:3px;width:36px;height:36px" 
                    id="star" 
                    title="{% if favorite %}Kattintásra törlés a kedvencek közül.{% else %}Kattintással kedvencek közé emelés.{% endif %}" 
                    data-tid="{{ id }}">
                </span>
            {% else %}
                <span 
                    class="ui-icon ui-icon-star grey" 
                    style="float:left;font-size:1em;margin-right:3px;width:36px;height:36px" 
                    title="A kedvencek közé mentéshez be kell jelentkezni.">                    
                </span>
            {% endif %}
            {{ nev|raw }}
            {% if ismertnev != ''  %}
                <br/>
                <small>
                    &nbsp;<span class="hidden-xs hidden-sm">
                        ({{ ismertnev|raw }})
                    </span>
                </small>
            {% endif %}
        </h2>
    </div>
{%  endblock %}


{% block content %}
    {{ alert|raw }}
    
    {% if liturgiatv is not empty %}
        {% include 'church/_panelliturgiatv.twig' %}
    {% endif %}
    
    <h5><b>Frissítve:</b> {{ updated }}</h5>

    {% if miseaktiv == 1 %}
        {% include "church/_schedule.twig" %}
    {% else %}
        <span class="alap">Nincs rendszeres szentmise.<br/><br/></span>
        {% endif %}

    {% if misemegj %}
        {% include "panel.twig" with {title:'Kapcsolódó információk','body': misemegj|raw|nl2br } %}    
    {% endif %}

    {% if photos|length > 0 %}
        {% include "church/_photoslide.twig" %}
    {% endif %}

    {% if leiras %}
        {% include "panel.twig" with {title:'Bemutatkozás','body': leiras } %}
    {% endif %}
{% endblock %}

{% set selfAdvertisement = true %}
{% block leftsidebar %}
    {% if isChurchHolder != 'allowed '%}
        {% include "church/_panelaskingremark.twig" %}
    {% endif %}
    {% include 'announcment.twig' ignore missing %}
    
{% endblock %}

{% block rightsidebar %}
    {% include "church/_panellocation.twig" %}
    {% include 'church/_panelcontact.twig' %}
    {% if megjegyzes %}
        {% include "panel.twig" with {title:'Jó tudni','body': megjegyzes } %}
    {% endif %}
    {% if neighbours|length > 1 %}
        {% include 'church/_panelneighbours.twig' %}
    {% endif %}    
{% endblock %}