{% extends "layout.twig" %}

{% import "forms.twig" as forms %}

{% import "forms.twig" as forms %}

{% block content %}
    <FORM ENCTYPE='multipart/form-data' method=post>
        <input type=hidden name=church[id] value={{ church.id }}>
        <style>
            td {
                padding: 5px;                
            }
            tr {
                vertical-align: top;
            }
        </style>
        <table cellpadding=4">            
            <tr>
                <td colspan=3>
                    <span class=kiscim>Nyilvános oldal megnyitása:</span><span class=alap> (új ablakban) </span> 
                    <a href='/templom/{{ church.id }}' class=link target=_blank>{{ church.nev }}</a>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <span class=kiscim>Észrevétel: </span>{{ church.remarksStatus.html|raw }}
                </td>
            </tr>
            <tr>
                <td bgcolor=#ECE5C8 class=kiscim align=right>Megjegyzés:</td>
                <td bgcolor=#ECE5C8>
                    <textarea name=church[adminmegj] class="urlap form-control tinymce" cols=50 placeholder="Adminisztrátori megjegyzés" rows=2>{{ church.adminmegj|nl2br }}</textarea>                    
                </td>
                <td>{% include 'help_link.twig' with {'id': 1} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef class=kiscim align=right>Felelős:</td>
                <td bgcolor=#efefef>
                    <textarea name=church[kontakt] class="urlap form-control tinymce" cols=50 rows=2 placeholder="Felelős neve és telefonszáma, ha elérhető">{{ church.kontakt|nl2br }}</textarea>                    
                    <input type=text name=church[kontaktmail] size=40 class="urlap form-control" value='{{ church.kontaktmail }}'  placeholder="Felelős email címe">                    
                </td>
                <td>{% include 'help_link.twig' with {'id': 2} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef class=kiscim align=right>Feltöltő (jogosult):</td>
                <td bgcolor=#efefef>
                    <i>Ez az elem átkerült a jobb oldali oszlopba, mert már több felelőse is lehet egyetlen templomnak.</i>
                </td>
                <td></td>
            </tr>
            <tr>
                <td bgcolor=#F5CC4C class=kiscim align=right>Templom neve:</td>
                <td bgcolor=#F5CC4C>
                    <input type=text name=church[nev] value="{{ church.nev }}" class="urlap form-control" size=80 maxlength=150  placeholder="Templom neve">
                </td>
                <td>{% include 'help_link.twig' with {'id': 3} %}</td>
            </tr>
            <tr>
                <td bgcolor=#FAE19C class=kiscim align=right>Közismert neve:</td>
                <td bgcolor=#FAE19C>                    
                    <input type=text name=church[ismertnev] value="{{ church.ismertnev }}" class=form-control size=80 maxlength=150  placeholder="Közismert név">                    
                </td>
                <td>{% include 'help_link.twig' with {'id': 4} %}</td>
            </tr>
           
            {% if church.location.osm %}
                <tr>
                    <td class=kiscim align=right>OSM azonosító:</td>
                    <td>    
                        <b><a href="{{ church.location.osm.url }}" target="_blank">{{ church.location.osm.type }}/{{ church.location.osm.id }}</a>
                            <a href="https://www.openstreetmap.org/edit?editor=id&{{ church.location.osm.type }}={{ church.location.osm.id }}#map=19/{{ church.location.lat }}/{{ church.location.lon }}" target="_blank"><i class="{{ ICONS_MAP_EDIT }}"  title="OSM szerkesztése..."></i></a>
                        </b><br/>
                        <div class="small" style="margin-top:10px">Ez a templom sikeresen össze van kötve az Open Street Map térkép adatbázissal.<br/> 
                            A templom térkép-adatainak szerkesztése az OSM-ben lehetséges az előbbi <a href="https://www.openstreetmap.org/edit?editor=id&{{ church.location.osm.type }}={{ church.location.osm.id }}#map=19/{{ church.location.lat }}/{{ church.location.lon }}" target="_blank"><i class="{{ ICONS_MAP_EDIT }}" title="OSM szerkesztése..." "></i></a> ikonra kattintva.<br/>
                            Összekötés szétkapcsolása: <ol>
                                <li>Az OSM szerkesztőben az 'url:miserend' címke törlése.</li>
                                <li>A mySQL adatbázisból kézzel ki kell törölni az adott templom OSM beállításait: <i>UPDATE `templomok` SET `osmid`= NULL, `osmtype`= NULL WHERE `id`='{{ church.id }}';</i></li>
                        

                        </div>
                    </td>
                <tr>   
            {% else %}
                <tr>
                    <td class=kiscim align=right>Koordináta:</td>
                    <td>
                        <div class="row">
                            <div class="col-md-5">
                                <input type=text name=church[lat] value="{{ church.lat }}" class=form-control  placeholder="szélességi fok">                    
                            </div>
                            <div class="col-md-5">
                                <input type=text name=church[lon] value="{{ church.lon }}" class=form-control  placeholder="hosszúsági fok">                    
                            </div>
                            <div class="col-md-2">
                                <a href="https://www.openstreetmap.org/edit?editor=id#map=19/{{ church.location.lat }}/{{ church.location.lon }}" target="_blank" ><span class="{{ ICONS_MAP_EDIT }}" title="OSM szerkesztése..."></i></a>
                            </div>
                        </div>
                        <div class="small"  style="margin-top:10px">Ez a templom nincs összekötve az Open Street Map térkép adatbázissal.<br/> 
                            A templom térkép-adatainak szerkesztése csak az OSM-ben lehetséges!<br/>
                            Összekötés az OSM adatbázissal: <ol>
                                <li>Az OSM szerkesztőjébe belépés, például ezen a linken: <a href="https://www.openstreetmap.org/edit?editor=id#map=19/{{ church.location.lat }}/{{ church.location.lon }}" target="_blank"><i class="{{ ICONS_MAP_EDIT }}" title="OSM szerkesztése..." ></i></a></li>
                                <li>A templom megkeresése a térképen</li> 
                                <ol type="a">
                                    <li>Ha létezik már a templom a térképen, akkor az OSM-ben hozzá kell adni az 'url:miserend' címkét, aminek értéke a 'https://miserend.hu/templom/{{ church.id }}' legyen.</li>
                                    <li>Ha nem létezik a térképen, akkor hozzunk létre egy új pontot a következő címke/érték párosokkol:</li>
                                    <ul>
                                        <li>amenity = place_of_worship</li>
                                        <li>religion = christian</li>
                                        <li>denomination = {{ church.denomination }}</li>
                                        <li>url:miserend = https://miserend.hu/templom/{{ church.id }}</li>
                                    </ul>
                                </ol>
                                <li>A miserend.hu-n a naponta automatikusan lefutó ellenőrző mechanizmus után automatikusan felismeri a kapcsolatot. Ezt le lehet futtatni <a href="/josm?update">itt is.</a></li>
                        </div>
                    </td>
                    <td></td>
                </tr>
            {% endif %}
            <tr>
                <td class=kiscim align=right>Egyházigazgatási cím:</td>
                <td>{% if church.osm.religiousAdministration %}
                    OSM 
                    {% for key,administraion in church.osm.religiousAdministration|reverse %}
                        > {{ administraion.name }}
                    {% endfor %} 
                    <br/>
                    {% endif %}
                    {{ forms.select(form.dioceses) }}
                    {% for deanery in form.deaneries %}
                        {{ forms.select(deanery) }}
                    {% endfor %}
                </td>
                <td>{% include 'help_link.twig' with {'id': 5} %}</td>
            </tr>  
            <tr>
                <td bgcolor=#efefef class=kiscim align=right>Plébánia adatai:</td>
                <td bgcolor=#efefef>
                    <textarea name=church[plebania] id="plebania" class="urlap form-control tinymce" cols=50 rows=4  placeholder="A plébánia neve, címe, telefonja, egyéb elérhetősége. Ill. hivatali idők.">{{ church.plebania|nl2br }}</textarea>
                    <input type=text class="urlap form-control" name=church[pleb_eml] value='{{ church.pleb_eml }}' size=40 class=urlap maxlength=100  placeholder="Email cím">
                    <input type=text class="urlap form-control" name=church[pleb_url] value='{{ church.pleb_url }}' size=40 class=urlap maxlength=100  placeholder="http://plébnia_honlapja.hu">
                </td>
                <td>{% include 'help_link.twig' with {'id': 6} %}</td>
            </tr>
            <tr>
                <td bgcolor=#ffffff class=kiscim align=right>Megjegyzés:</td>
                <td bgcolor=#ffffff>
                    <textarea name=church[megjegyzes] id=megjegyzes class="urlap form-control tinymce" cols=50 rows=3>{{ church.megjegyzes|nl2br }}</textarea>                
                </td>
                <td>{% include 'help_link.twig' with {'id': 10} %}</td>
            </tr>
            <tr>
                <td bgcolor=#ffffff class=kiscim align=right>Aktív misézőhely:</td>
                <td bgcolor=#ffffff>
                    <div class="control-group">
                        <div class="controls form-inline">            
                            <input type=radio name=church[miseaktiv] class="form-control" value=1 {% if church.miseaktiv == 1 %}checked{% endif %}>
                            <label for="inputValue">Van rendszeresen mise</label> &nbsp;
                            <input type=radio name=church[miseaktiv] class="urlap form-control" value=0 {% if church.miseaktiv != 1 %}checked{% endif %}>
                            <label for="inputKey">Nincs rendszeresen mise</label>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td bgcolor=#ffffff class=kiscim align=right>Mise megjegyzés:</td>
                <td bgcolor=#ffffff>
                    <textarea name=church[misemegj] id=misemegj class="form-control tinymce" cols=50 rows=5>{{ church.misemegj|nl2br }}</textarea>
                </td>
                <td>{% include 'help_link.twig' with {'id': 41} %}</td>
            </tr>
            <tr>
                <td valign=top class=kiscim align=right>Részletes leírás, templom története:</td>
                <td valign=top>                
                    <textarea name=church[leiras] id="leiras" class="form-control szoveg tinymce" cols=90 rows=10>{{ church.leiras|nl2br }}</textarea>
                </td>
                <td>{% include 'help_link.twig' with {'id': 9} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef valign=top class=kiscim align=right>Képek:</td>
                <td bgcolor=#efefef >
                    {% include '_photosedit.twig' with {'photos' : church.photos } %}
                </td>
            </tr>
            <tr>
                <td valign=top class=kiscim align=right>Frissítés:</td>
                <td valign=top>
                    <div class="controls form-inline">                         
                        <input type=checkbox name="church[frissites]" value="{{ date('now')|date("Y-m-d") }}" class="urlap form-control">
                        <label class=alap> Frissítsük a dátumot</label>
                        (Legutóbbi frissítés: {{ church.frissites }})
                    </div>
                </td>
                <td>{% include 'help_link.twig' with {'id': 15} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef valign=top class=kiscim align=right>Megjelenhet:</td>
                <td bgcolor=#efefef valign=top>
                    {{ forms.select(form.ok) }}
                </td>
                <td>{% include 'help_link.twig' with {'id': 15} %}</td>
            </tr>
            <tr>
                <td valign=top class=kiscim align=right>Történet:</td>
                <td valign=top>
                    <textarea cols=50 rows=6 class="form-control" disabled>{{ church.log }}</textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div align=right><input type=submit name='submit' value=Mehet class=urlap>&nbsp;</div>
                </td>
                <td>
                    <input type=radio name=modosit value=i class=urlap checked><span class=alap> és újra módosít</span><br/>
                    <input type=radio name=modosit value=m class=urlap><span class=alap> és tovább a miserendre</span><br/>
                    <input type=radio name=modosit value=n class=urlap><span class=alap> és vissza a listába</span><br/>
                    <input type=radio name=modosit value=t class=urlap><span class=alap> és vissza a templom oldalára</span>
                </td>
                <td></td>
            </tr>
        </table>
    </form>                
    <script language="javascript" type="text/javascript" src="/vendor/tinymce/tinymce/tinymce.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/tiny_mce_init.js"></script>
{% endblock %}

{% block leftsidebar %}    
    {% if church.osm and user.isadmin %}
        {% include 'church/_panelosm.twig' %}
    {% endif %}
{% endblock %}

{% block rightsidebar %}    
    {% include 'church/_panelholders.twig' %}
{% endblock %}
