{% extends "layout.twig" %}

{% import "forms.twig" as forms %}

{% set columns2 = true %}

{% import "forms.twig" as forms %}

{% block content %}
    <FORM ENCTYPE='multipart/form-data' method=post>
        <input type=hidden name=church[id] value={{ church.id }}>
        <style>
            td {
                padding: 5px;                
            }
            tr {
                vertical-align: top;
            }
        </style>
        <table cellpadding=4">            
            <tr>
                <td colspan=3>
                    <span class=kiscim>Nyilvános oldal megnyitása:</span><span class=alap> (új ablakban) </span> 
                    <a href='/templom/{{ church.id }}' class=link target=_blank>{{ church.nev }}</a>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <span class=kiscim>Észrevétel: </span>{{ church.remarksStatus.html|raw }}
                </td>
            </tr>
            <tr>
                <td bgcolor=#ECE5C8 class=kiscim align=right>Megjegyzés:</td>
                <td bgcolor=#ECE5C8>
                    <textarea name=church[adminmegj] class="urlap form-control tinymce" cols=50 placeholder="Adminisztrátori megjegyzés" rows=2>{{ church.adminmegj|nl2br }}</textarea>                    
                </td>
                <td>{% include 'help_link.twig' with {'id': 1} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef class=kiscim align=right>Felelős:</td>
                <td bgcolor=#efefef>
                    <textarea name=church[kontakt] class="urlap form-control tinymce" cols=50 rows=2 placeholder="Felelős neve és telefonszáma, ha elérhető">{{ church.kontakt|nl2br }}</textarea>                    
                    <input type=text name=church[kontaktmail] size=40 class="urlap form-control" value='{{ church.kontaktmail }}'  placeholder="Felelős email címe">                    
                </td>
                <td>{% include 'help_link.twig' with {'id': 2} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef class=kiscim align=right>Feltöltő (jogosult):</td>
                <td bgcolor=#efefef>
                    {{ forms.select(form.responsible) }}
                </td>
                <td></td>
            </tr>
            <tr>
                <td bgcolor=#F5CC4C class=kiscim align=right>Templom neve:</td>
                <td bgcolor=#F5CC4C>
                    <input type=text name=church[nev] value="{{ church.nev }}" class="urlap form-control" size=80 maxlength=150  placeholder="Templom neve">
                </td>
                <td>{% include 'help_link.twig' with {'id': 3} %}</td>
            </tr>
            <tr>
                <td bgcolor=#FAE19C class=kiscim align=right>Közismert neve:</td>
                <td bgcolor=#FAE19C>                    
                    <input type=text name=church[ismertnev] value="{{ church.ismertnev }}" class=form-control size=80 maxlength=150  placeholder="Közismert név">                    
                </td>
                <td>{% include 'help_link.twig' with {'id': 4} %}</td>
            </tr>
            <tr>
                <td class=kiscim align=right>Elhelyezkedés:</td>
                <td>
                    {% if church.osm.administrative %}
                        OSM 
                        {% for key,administraion in church.osm.administrative %}
                            > {{ administraion.name }}
                        {% endfor %}   
                    {% endif %}
                    {{ forms.select(form.country) }}
                    {% for county in form.counties %}
                        {{ forms.select(county) }}
                    {% endfor %}
                    {% for city in form.cities %}
                        {{ forms.select(city) }}
                    {% endfor %}
                    <input type=text name=church[cim] placeholder='Cím' value="{{ church.cim }}" class=form-control  placeholder="Utca házszám">                    
                </td>
                <td></td>
            </tr>
            <tr>
                <td class=kiscim align="right" >A templom megközelítése:</td>                
                <td>
                    <textarea name=church[megkozelites] cols=50 rows=2 class="form-control tinymce"  placeholder="A megközelítés leírása, ha kifejzetten nehézkes.">{{ church.megkozelites|nl2br }}</textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class=kiscim align=right>Egyházigazgatási cím:</td>
                <td>{% if church.osm.religiousAdministration %}
                    OSM 
                    {% for key,administraion in church.osm.religiousAdministration|reverse %}
                        > {{ administraion.name }}
                    {% endfor %} 
                    <br/>
                    {% endif %}
                    {{ forms.select(form.dioceses) }}
                    {% for deanery in form.deaneries %}
                        {{ forms.select(deanery) }}
                    {% endfor %}
                </td>
                <td>{% include 'help_link.twig' with {'id': 5} %}</td>
            </tr>  
            <tr>
                <td bgcolor=#efefef class=kiscim align=right>Plébánia adatai:</td>
                <td bgcolor=#efefef>
                    <textarea name=church[plebania] id="plebania" class="urlap form-control tinymce" cols=50 rows=4  placeholder="A plébánia neve, címe, telefonja, egyéb elérhetősége. Ill. hivatali idők.">{{ church.plebania|nl2br }}</textarea>
                    <input type=text class="urlap form-control" name=church[pleb_eml] value='{{ church.pleb_email }}' size=40 class=urlap maxlength=100  placeholder="Email cím">
                    <input type=text class="urlap form-control" name=church[pleb_url] value='{{ church.pleb_url }}' size=40 class=urlap maxlength=100  placeholder="http://plébnia_honlapja.hu">
                </td>
                <td>{% include 'help_link.twig' with {'id': 6} %}</td>
            </tr>
            <tr>
                <td bgcolor=#ffffff class=kiscim align=right>Megjegyzés:</td>
                <td bgcolor=#ffffff>
                    <textarea name=church[megjegyzes] id=megjegyzes class="urlap form-control tinymce" cols=50 rows=3>{{ church.megjegyzes|nl2br }}</textarea>                
                </td>
                <td>{% include 'help_link.twig' with {'id': 10} %}</td>
            </tr>
            <tr>
                <td bgcolor=#ffffff class=kiscim align=right>Aktív misézőhely:</td>
                <td bgcolor=#ffffff>
                    <div class="control-group">
                        <div class="controls form-inline">            
                            <input type=radio name=church[miseaktiv] class="form-control" value=1 {% if church.miseaktiv == 1 %}checked{% endif %}>
                            <label for="inputValue">Van rendszeresen mise</label> &nbsp;
                            <input type=radio name=church[miseaktiv] class="urlap form-control" value=0 {% if church.miseaktiv != 1 %}checked{% endif %}>
                            <label for="inputKey">Nincs rendszeresen mise</label>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td bgcolor=#ffffff class=kiscim align=right>Mise megjegyzés:</td>
                <td bgcolor=#ffffff>
                    <textarea name=church[misemegj] id=misemegj class="form-control tinymce" cols=50 rows=5>{{ church.misemegj|nl2br }}</textarea>
                </td>
                <td>{% include 'help_link.twig' with {'id': 41} %}</td>
            </tr>
            <tr>
                <td valign=top class=kiscim align=right>Részletes leírás, templom története:</td>
                <td valign=top>                
                    <textarea name=church[leiras] id="leiras" class="form-control szoveg tinymce" cols=90 rows=10>{{ church.leiras|nl2br }}</textarea>
                </td>
                <td>{% include 'help_link.twig' with {'id': 9} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef valign=top class=kiscim align=right>Képek:</td>
                <td bgcolor=#efefef >
                    {% include '_photosedit.twig' with {'photos' : church.photos } %}
                </td>
            </tr>
            <tr>
                <td valign=top class=kiscim align=right>Frissítés:</td>
                <td valign=top>
                    <div class="controls form-inline">                         
                        <input type=checkbox name="church[frissites]" value="{{ date('now')|date("Y-m-d") }}" class="urlap form-control">
                        <label class=alap> Frissítsük a dátumot</label>
                    </div>
                </td>
                <td>{% include 'help_link.twig' with {'id': 15} %}</td>
            </tr>
            <tr>
                <td bgcolor=#efefef valign=top class=kiscim align=right>Megjelenhet:</td>
                <td bgcolor=#efefef valign=top>
                    {{ forms.select(form.ok) }}
                </td>
                <td>{% include 'help_link.twig' with {'id': 15} %}</td>
            </tr>
            <tr>
                <td valign=top class=kiscim align=right>Történet:</td>
                <td valign=top>
                    <textarea cols=50 rows=6 class="form-control" disabled>{{ church.log }}</textarea>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div align=right><input type=submit name='submit' value=Mehet class=urlap>&nbsp;</div>
                </td>
                <td>
                    <input type=radio name=modosit value=i class=urlap checked><span class=alap> és újra módosít</span><br/>
                    <input type=radio name=modosit value=m class=urlap><span class=alap> és tovább a miserendre</span><br/>
                    <input type=radio name=modosit value=n class=urlap><span class=alap> és vissza a listába</span><br/>
                    <input type=radio name=modosit value=t class=urlap><span class=alap> és vissza a templom oldalára</span>
                </td>
                <td></td>
            </tr>
        </table>
    </form>                
    <script language="javascript" type="text/javascript" src="/vendor/tinymce/tinymce/tinymce.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/tiny_mce_init.js"></script>
{% endblock %}

{% block leftsidebar %}    
    {% if church.osm and user.isadmin %}
        {% include 'church/_panelosm.twig' %}
    {% endif %}    
{% endblock %}