{% extends 'base.html.twig' %}

{% set title = church.name %}

{% block pageHeader %}
    <div class="page-header">
        <h2>
            <span class="bi bi-star-fill {% if app.user and app.user.churchFavorite(church) %}text-warning{% endif %}"
                  data-controller="favorite"
                  data-action="click->favorite#favoriteButtonDidClick"
                  data-church-id="{{ church.id }}">
            </span>

            {{ church.name }}
            {% if writeAcess|default(false) %}
                <div style="float:right" class="text-end">{% include "church/_adminlinks.twig" %}</div>
            {% endif %}
            {% if church.knownName %}
                <br/>
                <small>
                    <span class="hidden-xs hidden-sm">
                        ({{ church.knownName }})
                    </span>
                </small>
            {% endif %}
        </h2>
    </div>
{%  endblock %}


{% block content %}
    {{ alert|default('')|raw }}

    {% if liturgiatv|default(false) is not empty %}
        {% include 'church/_panelliturgiatv.twig' %}
    {% endif %}

    <h5><b>Frissítve:</b> {{ church.updatedAt|date('Y-m-d H:i') }}</h5>

    {% if church.massActive %}
{#        {% include "church/_schedule.twig" %}#}
    {% else %}
        <span class="alap">Nincs rendszeres szentmise.<br/><br/></span>
    {% endif %}

    {% if misemegj|default(false) %}
        {% include "panel.twig" with {title:'Kapcsolódó információk','body': misemegj|raw|nl2br } %}
    {% endif %}

    {% if photos|default({})|length > 0 %}
        {% include "church/_photoslide.twig" %}
    {% endif %}

    {% if leiras|default(false) %}
        {% include "panel.twig" with {title:'Bemutatkozás','body': leiras } %}
    {% endif %}
{% endblock %}

{% set selfAdvertisement = true %}
{% block left_sidebar %}
    {% if church.holderStatus != constant('\\App\\Entity\\ChurchHolder::HOLDER_STATUS_ALLOWED') %}
        {% include 'church/panels/asking_remark.html.twig' %}
    {% endif %}

    {% include 'announcment.twig' ignore missing %}

    {% if location|default(false) and location.osm is not null %}
        {% include 'church/_panelaccessibility.twig'  %}
    {% endif %}

{% endblock %}

{% block rightsidebar %}
{#    {% include "church/_panellocation.twig" %}#}
{#    {% include 'church/_panelcontact.twig' %}#}
    {% if megjegyzes|default(false) %}
        {% include "panel.twig" with {title:'Jó tudni','body': megjegyzes } %}
    {% endif %}
    {% if neighbours|default({})|length > 1 %}
        {% include 'church/_panelneighbours.twig' %}
    {% endif %}
    {% if kozossegek|default({})|length > 1 %}
        {% include 'church/_panelkozossegek.twig' %}
    {% endif %}
{#    {% include 'church/_panelfacebookpageplugin.twig' %}#}
{% endblock %}
