{% set columns2 = true  %}
{% extends  "layout.twig" %}

{% import "forms.twig" as forms %}

{% set title = "Felhasználók" %}

{% block content %}
        <form method=post action="index.php">
            <input type=hidden name=q value="user/catalogue">
            {{ forms.input(form.kulcsszo) }}
            {{ forms.select(form.sort) }}
            {{ forms.select(form.adminok) }}
            <input type=submit value=Lista class=urlap>
        </form>
         <br/>
		 <div class="row" style="margin-bottom:12px">
            Összesen: {{ pagination.resultsCount }} találat<br/>
            Listázás: {{ (pagination.active * pagination.take) + 1 }} - 
            {% if pagination.resultsCount < ( pagination.active + 1 ) * pagination.take %}
                {{ pagination.resultsCount }}
            {% else %}
                {{ ( pagination.active + 1 ) * pagination.take }} 
            {% endif %}
        </div>
	<table class="table table-hover table-condensed table-striped">
		<tr>
    		<th class="col-md-3">Felhasználónév / Név</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-1"><img src="/img/templom1.gif" title="Ellátott templomok száma"></th>
				<th class="col-md-1"><span class="ui-icon ui-icon-star" title="Kedvenc templomok száma">
                </span></th>
    		<th class="col-md-3">{{ field }}</th>
    		<th class="col-md-1"><span class="glyphicon glyphicon-trash" aria-hidden="true" style=""></span></th>
  		</tr>
		{% for user in users %}
			<tr>
				<td>                                        
					<a href="/user/{{ user.uid }}/edit">
						<strong>{{ user.login }}</strong> ({{ user.nev }})
                                                {% if 'miserend' in user.jogok %}<span class="glyphicon glyphicon-asterisk" aria-hidden="true" title="Admin"></span>{% endif %}
                                                {% if user.responsible.diocese|length > 0 %}<span class="glyphicon glyphicon-asterisk green" aria-hidden="true" title="Egyházmegye felelőse"></span>{% endif %}
					</a>
				</td>
				<td>
					<a href="mailto:{{ user.email }}">{{ user.email }}</a>
				</td>                                
                                <td>
                                    {{ user.responsible.church|length }}
                                </td>
				<td>
					{{ user.favorites|length}}
				</td>								
                                <td>
					{{ attribute(user, field)}} 
				</td>
				<td>
					<a href="/user/{{ user.uid }}/delete" class="red"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Felhasználó törlése..."></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
	{% include '_pagination.twig' %}

{% endblock %}
