{% extends 'layout.twig' %}

{% set columns2 = true %}
    

{% block content %}
    
	
	<h3 id="variables">Változók és körülmények</h3>
	<table class="table table-hover table-condensed table-striped">
		<tr>
			<th>name</th>
			<th>value</th>
		</tr>
		{% for info in infos %}
			<tr>
				<td>{{ info.0 }}</td>
				<td>{{ info.1|striptags('<br><a>')|raw }}</td>

			</tr>
		{% endfor %}
		<tr>
			<td>githash (valószínűsíthető!)</td>
			<td><a href="https://github.com/borazslo/miserend.hu/commit/{{ githash }}">{{ githash[0:7] }}</a></td>
		</tr>
	</table>
	
	<h3 id="cronjobs">Időzített feladatok</h3>
	<p>Az időzített feladatokat kézzel is futtathatóak egyesével egy <a href="{{ base_url }}/index.php?q=cron" target="_blank">egyben itt</a>.</p>
	<p>Most: {{ "now"|date('Y-m-d H:i:s') }}</p>
	<table class="table table-hover table-condensed table-striped">
		<tr>
			<th>id</th>
			<th>class::function()</th>
			<th>frequency (from - until)</th>
			<th>deadline_at</th>
			<th>attempts</th>
			<th>lastsuccess_at</th>
		</tr>
		{% for cron in cronjobs %}
			<tr>
				<td>{{ cron.id }}</td>
				<td><a href="{{ base_url }}/index.php?q=cron&cron_id={{cron.id}}" target="_blank">{{ cron.class }}::{{ cron.function }}()</a></td>
				<td>{{ cron.frequency }} {% if cron.from %}({{ cron.from }} - {{ cron.until }}){% endif %}</td>
				<td class="{% if cron.deadline_at < "now"|date("Y-m-d H:i:s") %}table-danger{% endif %}">{{ cron.deadline_at }}</td>
				<td  style="text-align: center" class="{% if cron.attempts > 0 %}table-danger{% endif%}">{{ cron.attempts }}</td>
				<td>{{ cron.lastsuccess_at }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<h3 id="externalapis">Külső szolgáltatók elérhetősége</h3>
	<p><i>Olyanok mint mapqquest, openstreetmap, kozossegekapi, liturgiativ, nominatim, openinghapi, overpass</i></p> 

	<table class="table table-hover table-condensed table-striped">
		<tr>
			<th class="col-2">name</th>
			<th class="col-1">last_month</th>
			<th class="col-5">testresult</th>
			<th class="col-4 d-inline-block text-truncate">testQuery</th>
			
		</tr>
		{% for externalapi in externalapis %}
			<tr>
				<td>{{ externalapi.name }}</td>
				<td>{{ externalapi.stat }}</td>
				<td class="{% if externalapi.testresult != "OK" %}table-danger{% endif %}">{{ externalapi.testresult }}</td>
				<td class="col-4 d-inline-block text-truncate"><a href="{{ externalapi.apiUrl }}{{ externalapi.testQuery }}"><span class="d-inline-block text-truncate">{{ externalapi.testQuery }}</span></a></td>								
				
			</tr>
		{% endfor %}
	</table>
	

{% endblock%}