{% set base_template = foremail ? 'layout_simpliest.twig' : 'layout.twig' %}
{% extends base_template %}


{% set columns2 = true %}
    

{% block content %}
    
	<p>Az ellenőrzést kezdeményezte <a href="/user/{{ user.uid }}/edit">{{ user.login }}</a> vagyis {{ user.name }}.</p>
	
	<h3 id="variables">Változók és körülmények</h3>
	<table class="table table-hover table-condensed table-striped">
		<tr>
			<th>name</th>
			<th>value</th>
		</tr>
		{% for info in infos %}
			<tr>
				<td>{{ info.0 }}</td>
				<td>{{ info.1|striptags('<br><a>')|raw }}</td>

			</tr>
		{% endfor %}
		<tr>
			<td>githash (valószínűsíthető!)</td>
			<td><a href="https://github.com/borazslo/miserend.hu/commit/{{ githash }}">{{ githash[0:7] }}</a></td>
		</tr>
	</table>
	
	<h3 id="cronjobs">Időzített feladatok</h3>
	<p>Az időzített feladatokat kézzel is futtathatóak egyesével egy <a href="{{ base_url }}/index.php?q=cron" target="_blank">egyben itt</a>.</p>
	<p>Most: {{ "now"|date('Y-m-d H:i:s') }}</p>
	<table class="table table-hover table-condensed table-striped">
		<tr>
			<th>id</th>
			<th>class::function()</th>
			<th>frequency (from - until)</th>
			<th>deadline_at</th>
			<th>attempts</th>
			<th>lastsuccess_at</th>
		</tr>
		{% for cron in cronjobs %}
			<tr>
				<td>{{ cron.id }}</td>
				<td><a href="{{ base_url }}/index.php?q=cron&cron_id={{cron.id}}" target="_blank">{{ cron.class }}::{{ cron.function }}()</a></td>
				<td>{{ cron.frequency }} {% if cron.from %}({{ cron.from }} - {{ cron.until }}){% endif %}</td>
				<td class="{% if cron.deadline_at < "now"|date("Y-m-d H:i:s") %}table-danger{% endif %}">{{ cron.deadline_at }}</td>
				<td  style="text-align: center" class="{% if cron.attempts > 0 %}table-danger{% endif%}">{{ cron.attempts }}</td>
				<td>{{ cron.lastsuccess_at }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<h3 id="externalapis">Külső szolgáltatók elérhetősége</h3>
	<p><i>Olyanok mint mapqquest, openstreetmap, kozossegekapi, liturgiativ, nominatim, openinghapi, overpass</i></p> 

	<table class="table table-hover table-striped" style="table-layout: fixed; width: 100%;">
		<tr>
			<th class="col-2">name</th>
			<th class="col-1">last_month</th>
			<th class="col-3">testresult</th>
			<th class="">testQuery</th>
			
		</tr>
		{% for externalapi in externalapis %}
			<tr>
				<td>{{ externalapi.name }}</td>
				<td style="text-align: center;">{{ externalapi.stat }}</td>
				<td class="{% if externalapi.testresult != "OK" %}table-danger{% endif %}">{{ externalapi.testresult }}</td>
				<td class="col-6 text-truncate" style="max-width: 50%;">
					<a href="{{ externalapi.apiUrl }}{{ externalapi.testQuery }}">
						{{ externalapi.testQuery }}
					</a>
				</td>								
				
			</tr>
		{% endfor %}
	</table>

	<h3 id="externalapis">Levelezőrendszer egészsége</h3>
	
	<table class="table table-hover table-condensed table-striped">
			<tr>
				<td>Host:Port</td><td>{{ mailing.Host }}:{{ mailing.Port }}</td>
			</tr>
			<tr>
				<td>debug level</td><td>{{ mailing.debug }}</td>
			</tr>
			<tr>				
				<td>Teszt eredmény</td>
				<td>
					{% if foremail %}
						It is the test email itself. ;)
					{% else %}
						<span class="{% if mailing.testresult != 'OK' %}table-danger{% endif%}">{{ mailing.testresult }}</span>
					{% endif %}
				</td>
			</tr>
	</table>
	
	{% if emails|length > 0 %}
		<p><i>Az elmúlt 30 napban elküldött levelek statisztikája:</i></p>
		<table class="table table-hover table-condensed table-striped">
			<tr>
				<th >type</th>
				<th >status</th>
				<th >total</th>
			</tr>
			{% for email in emails %}
				<tr>
					<td>{{ email.type }}</td>
					<td>{{ email.status }}</td>
					<td>{{ email.total }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-danger">Az elmúlt 30 napban nem volt kiküldött email.</div>
	{% endif %}

{% endblock%}