{% import "forms.twig" as forms %}

{% extends "layout.twig" %}

{% set pageTitle = 'Miserend' %}

{% if "miserend" in user.roles %}
		{% set columns2 = true  %}		
{% endif %}


{% block extraHead %}
    <style>
        .block:after{
            clear: both;
            content: "";
            display: block;
        }
    </style>
    
{% endblock %}

{% block pageHeader %}
    <div class="page-header hidden-xs">
        <h1>Miserend<small><span class="hidden-sm"> és templom keresés</span></small></h1>
    </div>
{%  endblock %}



{% block content %}
    {% include 'announcment.twig' ignore missing %}
    
    {{ alert|raw }}

    {% include '_panelcampaign.twig' with { collapsible: 'collapsed' }  %}    

    <div class="miseurlap">
        <form method=get action="index.php" name="kereses" id="kereses" class="form-group">

	    <div class="d-flex justify-content-center">
		<!--<h1>
            <div class="btn-group" role="group" aria-label="Search Options">
                <input type="radio" class="btn-check" name="q" id="searchtemplom" value="SearchResultsChurches" checked>
                <label class="btn btn-outline-primary" for="searchtemplom">Templom</label>

                <input type="radio" class="btn-check" name="q" id="searchmise" value="SearchResultsMasses">
                <label class="btn btn-outline-primary" for="searchmise">Mise</label>
            </div>
			keresés
			<h1>-->
        </div>

            <div id="form_church"  style="margin-top:12px;">
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Templom</label>
                    <div class="col-sm-6">{{ forms.input(searchform.kulcsszo) }}</div>
                    <div class="cols-sm-2" style="text-align:right"><span class="btn glyphicon glyphicon-plus-sign" id="form_church_getdetails"></span></div>
                </div>
                <!--<div class="form-group row">
                    <label class="col-sm-4 control-label" ><span class="form_church_details" style="display:none">település</span></label>
                    <div class="col-sm-8">{{ forms.input(searchform.varos) }} </div>
                </div>-->
            </div>

            <div id="form_church_details"  style="display:none">
			<!--
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >adott helyszín körül:</label>
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <div class="form-group">
                                {{ forms.input(searchform.hely) }}
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">+</div>
                                    {{ forms.input(searchform.tavolsag) }}
                                    <div class="input-group-addon">km</div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
				-->
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >egyházmegye</label>
                    <div class="col-sm-8">{{ forms.select(searchform.ehm) }} </div>
                </div>
                <div class="form-group row" id="espkerlabel" style="display:none" >
                    <label class="col-sm-4 control-label" >esperes kerület</label>
                    <div class="col-sm-8">{% for key, item in searchform.espker %}{{ forms.select(item) }}{% endfor %}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >csak görögkatolikus</label>
                    <div class="col-sm-8">{{ forms.input(searchform.gorog) }} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >ahol van adott nyelvű mise is</label>
                    <div class="col-sm-8">{{ forms.select(searchform.tnyelv) }} </div>
                </div>
            </div>

            <div id="form_mass" style="margin-top:12px;">
                <div class="form-group row">
                    <label class="col-sm-4 control-label">Mise</label>
                    <div class="col-sm-6">
                        <div class="form-inline">
                            <div class="form-group">
                                {{ forms.select(searchform.mikor) }}
                            </div>
                            <div class="form-group">
                                {{ forms.input(searchform.mikordatum) }}
                            </div>
                        </div> 
                    </div>
                    <div class="cols-sm-2" style="text-align:right"><span class="btn glyphicon glyphicon-plus-sign" id="form_mass_getdetails"></span></div>      
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <div class="form-group">
                                {{ forms.select(searchform.mikor2) }}
                            </div>
                            <div class="form-group">
                                {{ forms.input(searchform.mikorido) }}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <div id="form_mass_details" style="display:none">
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >nyelv</label>
                    <div class="col-sm-8">{{ forms.select(searchform.nyelv) }} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >zene</label>
                    <div class="col-sm-8">
                        <div class="checkbox">
                            {% for key, item in searchform.zene %}
                                <label>{{ forms.input(item) }}</label><br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >korosztály</label>
                    <div class="col-sm-8">
                        <div class="checkbox">
                            {% for key, item in searchform.kor %}
                                <label>{{ forms.input(item) }}</label><br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >rítus</label>
                    <div class="col-sm-8">{{ forms.select(searchform.ritus) }} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" >igeliturgiák is</label>
                    <div class="col-sm-8">{{ forms.input(searchform.ige) }} </div>
                </div>
            </div>

            <div align=center class="form-group" style="margin-top:12px">
                <button type=submit name="q" value="SearchResultsMasses"  class="btn btn-primary">Mise keresése</button>
                <button type=submit name="q" value="SearchResultsChurches"  class="btn btn-primary">Templom keresése</button>
            </div>

        </form>
    </div>
	
	{% if "miserend" in user.roles %}
		{% include '_admindashboard.twig' %}
	{% endif %}

    <div id="favorites" style="margin-top:12px">
        <h3>Kedvenc templomok</h3>
        {% if user.uid < 1 %}
            <p class="alap"><i>Bejelentkezett felhasználóink megjelelölhetnek templomokat kedvencként.</i></p>
        {% endif %}
        {% if favorites|length > 0 %}
            <ul>
                {% for key, item in favorites %}<li class="link">{{ item.li|raw }}</li>{% endfor %}
            </ul>
        {% elseif user.uid > 0 %}
			<i>Nincs kedvencnek megjelölt templom.</i>
		{% endif %}
    </div>
	
	<div id="nearby" style="display:none"></div>
	<script>
		if (navigator.geolocation) {
			
			navigator.geolocation.getCurrentPosition(function(position) {

				$.ajax({
					url: '/api/v4/nearby',
					type: "POST",
					dataType: "json",
					data: JSON.stringify( {'lat': position.coords.latitude, 'lon': position.coords.longitude } ),
					contentType: "application/json",
					 success: function(data) {
						if(data.error == 0) {
							$('#nearby').show();
							$('#nearby').append('<h3>Közeli templomok</h3>');
							if(data.templomok.length == 0) {
								$('#nearby').append('<p><i>Nem találtunk közeli templomokat.</i></p>');
							} else {
								$('#nearby').append('<ul>');
								for (let i = 0; i < data.templomok.length; i++) {
									if(data.templomok[i].tavolsag < 1000) {
										var distance = ( Math.round(data.templomok[i].tavolsag /100)*100 ) + " m";
									} else {
										var distance = ( Math.round(data.templomok[i].tavolsag / 100)/10 ) + " km";
									}
                                    // FIXME for Issue #257
									$('#nearby > ul').append('<li><a href="/templom/' + data.templomok[i].id + '">' + data.templomok[i].nev + ' (' + data.templomok[i].ismertnev + ')</a>, ' + data.templomok[i].varos + ' - ' + distance + '</li>');
									// console.log(data.templomok[i]);
								}								
								$('#nearby').append('</ul>');
							}
						}
					}
				}); 
				
			});  
		}
	</script>
	
	  <script src="/node_modules/jquery-ui/ui/i18n/datepicker-hu.js"></script>
    <script>
	$( function() {    
        $('input.datepicker').datepicker({
			regional: 'hu',
            dateFormat: "yy-mm-dd"		
        });
	} );
    </script>
	
    <br><br><br>
	{% include '_panelnea.twig' %}

{%  endblock %}

{% set selfAdvertisement = true %}  
{% block leftsidebar %}
    {% if photo %}
        {% set content = '<img src="' ~ constant('DOMAIN') ~ '/kepek/templomok/' ~ photo.church_id ~ '/' ~ photo.filename ~ '" class="img-responsive" loading="lazy"><h5 class="text-center"><a href="/templom/' ~ photo.church_id ~'">' ~ photo.church.nev ~ ' (' ~ photo.church.location.city.name ~')</a></h5>' %}
        {% include "panel.twig" with {'title' : ' ' , 'body': content,'panel':'default  ' } %}
    {% endif %}
{% endblock %}
