{% set columns2 = true  %}
{% extends "layout.twig" %}

{% set pageTitle = "OSM | Miserend" %}
                 
{% block content %}{{ content|raw }}
<span class="small">Ekkor futott utoljára a <a href="?update">{{ cron.class }}::{{ cron.function }}</a>: {{ cron.lastsuccess_at }}.</span><br/><br/>

<span class"alap">Az Open Street Map térkép-adatbázisban {{ countOsmData }} elemet találtunk, aminek van 
      <i>url:miserend</i> címkéje. Ebből {{ osmWBadChurch|length }} elemnek az <i>url:miserend</i> értéke 
    valamilyen módon hibás. <br/>A templomok között akad {{ churchesWNoOsm|length }} templom, aminek nincs OSM adata.
    Illetve {{ churchesWBadOsm|length }} templomnak van OSM adata megadva, de mégsem találtunk megfelelő OSM elemet.
    (Összesen {{ churchesWBad|length }} templommal van gond OSM szempontjából.)</span>
    
    
{% if osmWBadChurch|length %}        
<h2 data-toggle="collapse" data-target="#osmWBadChurch">OSM adatok</h2>
<p>Sajnos {{ osmWBadChurch|length}} olyan OSM elem van, amikben bár szerepel az <i>url:miserend</i> kulcs, mégsincsenek összekapcsolódva a templomainkkal.</p>
<div id="osmWBadChurch" class="collapse in">
    <table class="table table-hover table-condensed table-striped">
        <tr>
            <th>type/id</th>
            <th>name</th>
            <th>url:miserend</th>                
            <th class="col-md-1"><i class="{{ ICONS_MAP_EDIT }}" style=""></i></th>
            <th class="col-md-1"><i class="{{ ICONS_MAP_SEE }}" style=""></i></th>
        </tr>
        {% for osm in osmWBadChurch %}
            <tr>
                <td><a href='http://www.openstreetmap.org/{{ osm.type }}/{{ osm.id }}' target='_blank'>{{ osm.type }}/{{ osm.id }}</a></td> 
                <td>
                    {{ attribute(osm.tags, 'name') }}
                </td>
                <td>
                    {{ attribute(osm.tags, 'url:miserend') }}
                </td>
                <td><a href="https://www.openstreetmap.org/edit?editor=id&{{ osm.type }}={{ osm.id }}#map=19/{{ osm.lat }}/{{ osm.lon }}" target="_blank"><i class="{{ ICONS_MAP_EDIT }}" title="OSM szerkesztése..."></i></a></td>
                 <td><a href="https://www.openstreetmap.org/{{ osm.type }}/{{ osm.id }}#map=19/{{ osm.lat }}/{{ osm.lon }}" target="_blank"><i class="{{ ICONS_MAP_SEE }}" title="OSM megtekintése..."></i></a></td>                 
                <td></td>
                <td></td>
            </tr>            
        {% endfor %}        
    </table>
</div>
{% endif %}


{% if churchesWBadOsm|length %}        

<h2 data-toggle="collapse" data-target="#churchesWBadOsm">Templomok OSM adatok nélkül</h2>
<p>Sajnos {{ churchesWBadOsm|length}} olyan használatban lévő miséző hely van, aminek bár van OSM adata megadva, 
    az OSM adatbázisából mégis csak hiányzik az <i>url:miserend</i></p>
<div id="churchesWBadOsm" class="collapse in">
    <table class="table table-hover table-condensed table-striped">
		<tr>
    		<th>Ország</th>
                <th>Város</th>
                <th>Misézőhely neve </th>
    		<th class="col-md-1"><i class="{{ ICONS_CHURCH_SEE }}"></i></th>
                <th class="col-md-1"><i class="{{ ICONS_MAP_EDIT }}"></i></th>                
  		<th class="col-md-1"><i class="{{ ICONS_MAP_SEE }}"></i></th>                
                </tr>
         {% for church in churchesWBadOsm %}
             <tr>
                 <td>{{ church.orszag }}</td>
                 <td>{{ church.varos }}</td>
                 <td>{{ church.nev }} {% if church.ismertnev %}({{ church.ismertnev}}){% endif %}</td>
                 <td><a href="/templom/{{ church.id }}"><i class="{{ ICONS_CHURCH_SEE }}" title="Templom megtekintése..."></i></a></td>                 
                 <td>
                    {% if not church.lat %}
                        <a href="/templom/{{ church.id }}/edit"><i class="{{ ICONS_CHURCH_EDIT }}" title="Templom szerkesztése..."></i></a>
                    {% else %}
                        <a href="https://www.openstreetmap.org/edit?editor=id&{{ church.osmtype}}={{ church.osmid }}#map=19/{{ church.lat }}/{{ church.lon }}" target="_blank"><i class="{{ ICONS_MAP_EDIT }}" title="OSM szerkesztése..."></i></a>
                    {% endif %}
                 </td>                    
                 <td>
                     {% if not church.lat %}
                     <i class="{{ ICONS_MAP_SEE }}" style="color:red" title="Nincsen koordináta!"></i>
                     {% else %}
                     <a href='http://www.openstreetmap.org/{{ church.osmtype}}/{{ church.osmid }}#map=18/{{ church.lat }}/{{ church.lon }}' target='_blank'><i class="{{ ICONS_MAP_SEE }}" title="OSM térkép megjelenítése..."></i></a>
                     {% endif%}
                 </td>
             </tr>
        {% endfor %}
    </table>
</div>
{% endif %}


{% if churchesWNoOsm|length %}        
<h2 data-toggle="collapse" data-target="#churchesWNoOsm">Templomok OSM adatok nélkül</h2>
<p>Sajnos {{ churchesWNoOsm|length}} olyan használatban lévő miséző hely van, ami nincs az OSM térképadatbázisában megjelölve.</p>
<div id="churchesWNoOsm" class="collapse in">
    <table class="table table-hover table-condensed table-striped">
		<tr>
    		<th>Ország</th>
                <th>Város</th>
                <th>Misézőhely neve </th>
    		<th class="col-md-1"><i class="{{ ICONS_CHURCH_SEE }}"></i></th>
                <th class="col-md-1"><i class="{{ ICONS_MAP_EDIT }}"></i></th>                
  		<th class="col-md-1"><i class="{{ ICONS_MAP_SEE }}"></i></th>                
                </tr>
         {% for church in churchesWNoOsm %}
             <tr>
                 <td>{{ church.orszag }}</td>
                 <td>{{ church.varos }}</td>
                 <td>{{ church.nev }} {% if church.ismertnev %}({{ church.ismertnev}}){% endif %}</td>
                 <td><a href="/templom/{{ church.id }}"><i class="{{ ICONS_CHURCH_SEE }}" title="Templom megtekintése..."></i></a></td>                 
                 <td>
                    {% if not church.lat %}
                        <a href="/templom/{{ church.id }}/edit"><i class="{{ ICONS_CHURCH_EDIT }}" title="Templom szerkesztése..."></i></a>
                    {% else %}
                        <a href="https://www.openstreetmap.org/edit?editor=id#map=19/{{ church.lat }}/{{ church.lon }}" target="_blank"><i class="{{ ICONS_MAP_EDIT }}" title="OSM szerkesztése..."></i></a>
                    {% endif %}
                 </td>                    
                 <td>
                     {% if not church.lat %}
                     <i class="{{ ICONS_MAP_SEE }}" style="color:red" title="Nincsen koordináta!"></i>
                     {% else %}
                     <a href='http://www.openstreetmap.org/?mlat={{ church.lat }}&mlon={{ church.lon }}#map=18/{{ church.lat }}/{{ church.lon }}' target='_blank'><i class="{{ ICONS_MAP_SEE }}" title="OSM térkép megjelenítése..."></i></a>
                     {% endif%}
                 </td>
             </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
        


{% endblock %}
