{% extends "remark.twig" %}

{% set title = "Észrevételek" %}
{% set pageDescription = "Javítások/észrevételek kezelése" %}

{% block content %}
<table cellpadding=0 cellspacing=1 class="table table-striped table-hover">
{% for remark in church.remarks %}
    <tr>
    	<td valign=top width=35 style="padding:3px">
    		{% if remark.allapot == 'u' %}
                        <img src=/img/Folderdownloads.gif border=0 title='új észrevétel'>
                {% elseif remark.allapot == 'f' %}
                        <img src=/img/Filesedit.gif border=0 title='folyamatban van -> {{ remak.admin }} ({{ remark.admindatum }})'>
                {% else %}
                        <img src=/img/Hand.gif border=0 title='Javítva / lezárva -> {{ remak.admin }} ({{ remark.admindatum }})'>
                {% endif %}
		</td>
		<td valign=top width="140" style="padding:3px">
                    <form method=post action='/templom/{{ remark.church_id }}/eszrevetelek'>
                        <input type=hidden name=rid value="{{ remark.id }}">
                        <div class='form-group '>
                            <label for='my_dropdown'>Állapot</label>
                            <select name='state' class='form-control input-sm' id='my_dropdown'>
								<option value=''>-----</option>
                                <option value="u" {{ remark.allapot == 'u' ? ' selected ' }}>új</option>
                                <option value="f" {{ remark.allapot == 'f' ? ' selected ' }}>folyamatban</option>
                                <option value="j">{{ remark.allapot == 'j' ? ' selected ' }}lezárva/javítva</option>
                            </select>
                        </div>
                        {% if remark.allapot != 'j' %}
                                <div class="form-group">
                                        <label for="comment">Megjegyzés</label>
                                        <textarea id="comment" name="adminmegj" class="form-control input-sm" rows="3" id=""></textarea>
                                </div>
                        {% endif %}                        
                        <button type="submit" name="remark" value="modify" class="btn btn-default input-sm">Ok</button>
                    </form>
		</td>
    	<td valign=top style="padding:3px">
    	<div>
    		<div style="float:left"><h5 style="margin:0px">{{ remark.nev }} ({{ remark.login }}){% if remark.user.volunteer == 1 %}<span title="A felhasználó önkéntességet vállalt!" class="reliable {{ ICONS_SPECIAL }} yellow" style="float:right">{% endif %}&nbsp;</span><br/><small>{{ remark.created_at }}</small></h5></div>
    		{% if remark.email %}

				<div class="dropdown" style="float:left;margin-right:3px">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu{{ remark.id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="line-height:10px">
					<span class="far fa-envelope" style="color:#B51A7E;float:left"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ remark.id }}">
				      <li><a href="/remark/{{ remark.id }}/feedback"  class="alap dropdown-item"><span class="far fa-envelope" style="float:left;margin-right:3px;color:#B51A7E"></span> {{ remark.email }}...</a></li>
				      <li><a href="/remark/{{ remark.id }}/feedback?type=koszonet" class="alap dropdown-item"><span class="fa-solid fa-heart" style="float:left;margin-right:3px;color:#ff0000"></span> Köszönet írása...</a></li>
				      <li><a href="/remark/{{ remark.id }}/feedback?type=plebaniara" class="alap dropdown-item"><span class="fa-solid fa-reply" style="float:left;margin-right:3px" class="grey"></span> Plébániára irányítás...</a></li>
				      <li><a href="/remark/{{ remark.id }}/feedback?type=android" class="alap dropdown-item"><span class="fa-solid fa-triangle-exclamation" style="float:left;margin-right:3px" class="lightgrey"></span> Frissítés androidon...</a></li>
				  </ul>
				</div>
    		{% else %}
    			<!--<strong><span class="far fa-envelope lightgrey" title="Nincs elérhető email cím." style="float:right;margin-left:3px;margin-right:3px"></span></strong>-->
    		{% endif %}</span>

    		{% if remark.email or remark.login != "*vendeg*" %}
	    		<div data-email="{{ remark.email }}" data-rid="{{ remark.id }}" title="A beküldő megbízhatósága állítható egyetlen kattintással: megbízható, nem megbízható vagy nem tudjuk.">
	    			<button  type="button" class="btn btn-default" style="padding:6px">
	    				<span class="reliable fa-solid fa-triangle-exclamation alert {% if remark.megbizhato == 'n' %}red{% else %}lightgrey{% endif %}" style="float:right"></span>
						<span class="reliable fa-solid fa-check check {% if remark.megbizhato == 'i' %}green{% else %}lightgrey{% endif %}" style="float:left"></span>
					</button>
				</div>
			{% endif %}
		</div>

		{% if remark.allapot != 'j' %}
				<br><br><span class=alap>{{ remark.leiras|raw }}</span>
		{% else %}
				<span class='alap javitva' title="Kattintásra megtekinthető az észrevétel." style="display:block;margin-bottom:3px;clear:both;"><font color=red>Utoljára javítva / lezárva -> {{ remak.admin }} ({{ remark.admindatum }})</font></span>
				<span class='alap' style='display:none;'>{{ remark.leiras|raw }}</span>								
		{% endif %}

		{% if remark.adminmegj %} 
				<br><br><span class=alap><u>Szerkesztői megjegyzés:</u><br>
				{{ remark.adminmegj|raw|nl2br }}</span>
		{% endif %}


    	</td>
    </tr>
{% endfor %}
{% endblock %}
		