{% extends "layout.twig" %}

{% import "forms.twig" as forms %}

{% set title = "Esemény kifejezések" %}

{% block content %}
<p class="alap">Miserend periódusok és különleges miseidőpontok beállításánál használható kifejezések és értékeik</p>
<p class="alap">Sorrend: <a href="?m_id={{ m_id }}&m_op=events&order=name">név szerint</a> | <a href="?m_id={{ m_id }}&m_op=events&order=year%2C+date">időrendben</a>

<FORM ENCTYPE='multipart/form-data' method=post>
	<input type=hidden name=m_id value={{ m_id }}>
	<input type=hidden name=m_op value=events>

<div style="display:table;padding:5px" class="alap">
	<div style="display:table-row">
		<div style="display:table-cell">
			<strong>kifejezés</strong>
		</div>
		{% for year in years %}
			<div style="display:table-cell;text-align:center">
			<strong>{{ year }}</strong>
			</div>
		{% endfor %}
		<div style="display:table-cell">
			<strong>használtban</strong>
		</div>
	</div>

	{% for key,input in form %}
		<div style="display:table-row">
			<div style="display:table-cell;padding:5px">
				{% if names[key] != 'new' %}{{ names[key] }}
				{% else %} {{ forms.input( {'name':'new','size':'18'} ) }}
				{% endif %}
			</div>
			{% for year in years %}
				<div style="display:table-cell;padding:5px">
				{% if form[key][year]['id'] %}{{ forms.input( form[key][year]['id'] ) }}{% endif %}

				{{ forms.input( form[key][year]['input'] ) }}
				</div>
			{% endfor %}
			<div style="display:table-cell">
				{% if names[key] != 'new' %}{{ stats[key] }} helyen{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
<input type="submit" name="save" value="Mentés">
{% endblock %}