{% import "forms.twig" as forms %}

{% extends "layout.twig" %}

{% set pageTitle = 'Miserend | VPP' %}


{% block extraHead %}
  <style>
  .block:after{
      clear: both;
      content: "";
      display: block;
  }
  </style>
{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1>Miserend<small><span class="hidden-xs hidden-sm"> és templom keresés</span></small></h1>
    </div>
{%  endblock %}

{% block content %}

{{ alert|raw }}

	<div class="miseurlap">
    <form method=post action="index.php" name="kereses" id="kereses" class="form-group">
    {{ forms.input(searchform.m_op) }}{{ forms.input(searchform.m_id) }}
   
    <div id="form_church"  style="margin-top:12px;">
      <div class="form-group row">
        <label class="col-sm-4 control-label">Templom</label>
        <div class="col-sm-6">{{ forms.input(searchform.kulcsszo) }}</div>
        <div class="cols-sm-2" style="text-align:right"><span class="btn glyphicon glyphicon-plus-sign" id="form_church_getdetails"></span></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label" ><span class="form_church_details" style="display:none">település</span></label>
        <div class="col-sm-8">{{ forms.input(searchform.varos) }} </div>
      </div>
    </div>

    <div id="form_church_details"  style="display:none">
        <div class="form-group row">
          <label class="col-sm-4 control-label" >adott helyszín körül:</label>
          <div class="col-sm-8">
            <div class="form-inline">
                <div class="form-group">
                    {{ forms.input(searchform.hely) }}
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">+</div>
                        {{ forms.input(searchform.tavolsag) }}
                        <div class="input-group-addon">km</div>
                    </div>
                </div>
            </div>    
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label" >egyházmegye</label>
          <div class="col-sm-8">{{ forms.select(searchform.ehm) }} </div>
        </div>
        <div class="form-group row" id="espkerlabel" style="display:none" >
          <label class="col-sm-4 control-label" >esperes kerület</label>
          <div class="col-sm-8">{% for key, item in searchform.espker %}{{ forms.select(item) }}{% endfor %}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label" >csak görögkatolikus</label>
          <div class="col-sm-8">{{ forms.input(searchform.gorog) }} </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label" >ahol van adott nyelvű mise is</label>
          <div class="col-sm-8">{{ forms.select(searchform.tnyelv) }} </div>
        </div>
    </div>

    <div id="form_mass" style="margin-top:12px;">
      <div class="form-group row">
        <label class="col-sm-4 control-label">Mise</label>
        <div class="col-sm-6">
              <div class="form-inline">
                  <div class="form-group">
                      {{ forms.select(searchform.mikor) }}
                  </div>
                  <div class="form-group">
                      {{ forms.input(searchform.mikordatum) }}
                  </div>
              </div> 
        </div>
        <div class="cols-sm-2" style="text-align:right"><span class="btn glyphicon glyphicon-plus-sign" id="form_mass_getdetails"></span></div>      
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-8">
              <div class="form-inline">
                  <div class="form-group">
                      {{ forms.select(searchform.mikor2) }}
                  </div>
                  <div class="form-group">
                      {{ forms.input(searchform.mikorido) }}
                  </div>
              </div> 
        </div>
      </div>
    </div>
      
      <div id="form_mass_details" style="display:none">
        <div class="form-group row">
          <label class="col-sm-4 control-label" >nyelv</label>
          <div class="col-sm-8">{{ forms.select(searchform.nyelv) }} </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label" >zene</label>
          <div class="col-sm-8">
            <div class="checkbox">
            {% for key, item in searchform.zene %}
              <label>{{ forms.input(item) }}</label><br/>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label" >korosztály</label>
          <div class="col-sm-8">
            <div class="checkbox">
            {% for key, item in searchform.kor %}
              <label>{{ forms.input(item) }}</label><br/>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label" >rítus</label>
          <div class="col-sm-8">{{ forms.select(searchform.ritus) }} </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 control-label" >igeliturgiák is</label>
          <div class="col-sm-8">{{ forms.input(searchform.ige) }} </div>
        </div>
      </div>

  <div align=center class="form-group" style="margin-top:12px">
    <button type=submit name="misekereses" value="Mise keresése"  class="btn btn-primary">Mise keresése</button>
    <button type=submit name="templomkereses" value="Templom keresése"  class="btn btn-primary">Templom keresése</button>
  </div>
  
  </form>
</div>

<div id="favorites" style="margin-top:12px">

  <h3>Kedvenc templomok</h3>
  {% if favorites|length > 0 %}
      <ul>
      {% for key, item in favorites %}<li class="link">{{ item.li|raw }}</li>{% endfor %}
      </ul>
  {% else %}
      <p class="alap"><i>Bejelentkezett felhasználóink megjelelölhetnek templomokat kedvencként.</i></p>
  {% endif %}


</div>
 <!--
  
<div style="background-color:#CCCCCC;height:3px;margin-top:10px;margin-bottom:10px;width:100%"></div>
<div class="screenonly">{{ kepek|raw }}</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">   
  <tr> 
    <td colspan="3"><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class=dobozfocim_kek>Mai ünnep - üzenet</span></td>
  </tr>
  <tr valign="top"> 
    <td colspan="3" height="10"> 
      <table width="180" border="0" cellspacing="0" cellpadding="0" align="right">
	  <tr> 
        <td width="1" bgcolor="#EAEDF1" colspan="5"><img src=img/space.gif width=5 height=1></td>
	  </tr>
        <tr> 
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
          <td width="4" bgcolor="#F8F4F6"><img src=img/space.gif width=4 height=5></td>
          <td bgcolor="#FFFFFF">
            <table bgcolor="#F8F4F6" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_kek">Napi 
                  igehelyek </span></td>
                <td> 
                  <div align="right"><img src="{{ design_url|raw }}/img/lilapontok_lila.jpg" width="43" height="6"></div>
                </td>
              </tr>
            </table>
            </td>
          <td width="4" bgcolor="#F8F4F6"><img src=img/space.gif width=4 height=5></td>
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
        </tr>
		<tr> 
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td bgcolor="#FFFFFF">
            {{ igehelyek|raw }}
            </td>
          <td width="4" bgcolor="#FFFFFF"><img src=img/space.gif width=4 height=5></td>
          <td width="1" bgcolor="#EAEDF1"><img src=img/space.gif width=1 height=5></td>
        </tr>
        <tr> 
          <td colspan="5" bgcolor="#EAEDF1" height="1"><img src=img/space.gif width="5" height="1"></td>
        </tr>
      </table>
      {{ uzenet|raw }}</td>
  </tr>
  <tr> 
    <td colspan="3" height="10"><img src="img/space.gif" width="10" height="10"></td>
  </tr>
  <tr> 
    <td colspan="3"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#EAEDF1"> 
          <td bgcolor="#D0D6E4" width="5"><img src="img/space.gif" width="5" height="5"></td>
          <td bgcolor="#D0D6E4"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="{{ design_url|raw }}/img/negyzet_lila.gif" width="6" height="8" align="absmiddle"><img src="img/space.gif" width="5" height="5"><span class="dobozcim_fekete">Napi 
                  elm&eacute;lked&eacute;s </span></td>
                <td> 
                  <div align="right"><span class="dobozfocim_fekete"><img src="{{ design_url|raw }}/img/lilacsik.jpg" width="170" height="7" align="absmiddle"></span></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="5" bgcolor="#D0D6E4"><img src="img/space.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#F8F4F6"> 
          <td width="5" bgcolor="#F3F3F5"></td>
          <td bgcolor="#F3F3F5">{{ elmelkedes|raw }}</td>
          <td width="5" bgcolor="#F3F3F5"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>-->

{%  endblock %}

{% block leftsidebar %}
    {% if kep %}
      {% set content = '<img src="' ~ kep.konyvtar ~ '/' ~  kep.fajlnev ~ '" class="img-responsive"><h5 class="text-center"><a href="?templom=' ~ kep.id ~'">' ~ kep.nev ~ ' (' ~ kep.varos ~')</a></h5>' %}
      {% include "panel.twig" with {'title' : ' ' , 'body': content,'panel':'default  ' } %}
  {% endif %}
{% endblock %}
