{% extends "layout_simpliest.twig" %}

{% set pageTitle = "Észrevételre reagálás | Miserend" %}

{% block content %}
<div class="jumbotron">
	<h3>
		<a href="/?templom={{ church.id }}" target=_blank>{{ church.nev }}</a>
		<small><strong>{% if church.ismertnev %}{{ church.ismertnev }} - {% endif %}{{ church.varos }}</strong><br/>
		Javítások, változások bejelentésének kezelése</small>
	</h3>
</div>

	 <script>
  $(function() {
    $( "#tabs-min" ).tabs();
  });
  </script>
  <script>
	$(document).ready(function() {
		var html = $("#codehere").val();
		html =  html.replace(/(?:\r\n|\r|\n)/g, '<br />');
		$("#preview").html(html);

		$("#codehere").keyup(function() {
			var html = $(this).val();
			html =  html.replace(/(?:\r\n|\r|\n)/g, '<br />');
			$("#preview").html(html);
		})
	})
</script>


<form method=post>

<article id="tabs-min" class="tabs-min tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li><a href="#tabs-1" class="alap ui-state-default ui-corner-top ui-tabs-selected">Szerkesztés</a></li>
    <li><a href="#tabs-2" class="alap ui-state-default ui-corner-top">Előnézet</a></li>

  </ul>
  <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide alap">
		<input type=hidden name=rid value="{{ remark.id }}">
		<input type=hidden name=email value="{{ remark.email }}">
		<input type=hidden name=op value="sendemail">
		<input type=hidden name=type value="{{ type }}">
		<input type=hidden name=subject value="Miserend - Köszönjük az észrevételt!">
    	<textarea name="text" id="codehere" class="form-control" rows="20" style="width:100%;margin-bottom:6px">{{ text }}</textarea>
  </div>
  <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
  	<div id="preview" class="alap" style="height:326px;overflow:auto;border: 1px solid grey;margin: -6px;padding: 2px;"></div>
  </div>
  
</article><br/>&nbsp;<input type="submit" name="send" class="btn btn-default" value="Küldés">&nbsp;<input type="submit" name="clear" class="btn btn-default" value="Mégsem" onclick="history.go(-1);">
</form>
	
	

	{{ content|raw }}
{% endblock %}