{% extends "layout_simpliest.twig" %}

{% set pageTitle = "Észrevételek | Miserend" %}

{% block pageHeader %}
<div class="jumbotron">
	<h3>
		<a href="/?templom={{ church.id }}" target=_blank>{{ church.nev }}</a>
		<small><strong>{% if church.ismertnev %}{{ church.ismertnev }} - {% endif %}{{ church.varos }}</strong><br/>
		Javítások, változások bejelentésének kezelése</small>
	</h3>
</div>
{% endblock %}

{% block content %}
<table cellpadding=0 cellspacing=1 class="table table-striped table-hover">
{% for remark in remarks %}
    <tr>
    	<td valign=top width=35 style="padding:3px">
    		{% if remark.allapot == 'u' %}
			    	<img src=img/Folderdownloads.gif border=0 title='új észrevétel'>
			{% elseif remark.allapot == 'f' %}
			   		<img src=img/Filesedit.gif border=0 title='folyamatban van -> {{ remak.admin }} ({{ remark.admindatum }})'>
			{% else %}
			   		<img src=img/Hand.gif border=0 title='Javítva / lezárva -> {{ remak.admin }} ({{ remark.admindatum }})'>
			{% endif %}
		</td>
		<td valign=top width="140" style="padding:3px">
    		{{ remark.urlap|raw }}
		</td>
    	<td valign=top style="padding:3px">
    	<div>
    		<div style="float:left"><h5 style="margin:0px">{{ remark.nev }} ({{ remark.username }})&nbsp;<br/><small>{{ remark.datum }}</small></h5></div>
    		{% if remark.email %}

				<div class="dropdown" style="float:left;margin-right:3px">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="line-height:10px">
					<span class="ui-icon ui-icon-mail-closed" style="color:#B51A7E;float:left"></span>&nbsp;
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				      <li><a href="?op=email&rid={{ remark.rid }}"  class="alap"><span class="ui-icon ui-icon-mail-closed" style="float:left;margin-right:3px;color:#B51A7E"></span> {{ remark.email }}...</a></li>
				      <li><a href="?op=email&rid={{ remark.rid }}&type=koszonet" class="alap"><span class="ui-icon ui-icon-heart" style="float:left;margin-right:3px;color:#ff0000"></span> Köszönet írása...</a></li>
				      <li><a href="?op=email&rid={{ remark.rid }}&type=plebaniara" class="alap"><span class="ui-icon ui-icon-arrowreturnthick-1-w" style="float:left;margin-right:3px" class="grey"></span> Plébániára irányítás...</a></li>
				  </ul>
				</div>
    		{% else %}
    			<!--<strong><span class="ui-icon ui-icon-mail-closed lightgrey" title="Nincs elérhető email cím." style="float:right;margin-left:3px;margin-right:3px"></span></strong>-->
    		{% endif %}</span>

    		{% if remark.email or remark.username != "*vendeg*" %}
	    		<div data-email="{{ remark.email }}" data-rid="{{ remark.id }}" title="A beküldő megbízhatósága állítható egyetlen kattintással: megbízható, nem megbízható vagy nem tudjuk.">
	    			<button  type="button" class="btn btn-default" style="padding:6px">
	    				<span class="reliable ui-icon ui-icon-alert alert {% if remark.megbizhato == 'n' %}red{% else %}lightgrey{% endif %}" style="float:right"></span>
						<span class="reliable ui-icon ui-icon-check check {% if remark.megbizhato == 'i' %}green{% else %}lightgrey{% endif %}" style="float:left"></span>
					</button>
				</div>
			{% endif %}

			

		</div>

		{% if remark.allapot != 'j' %}
				<br><br><span class=alap>{{ remark.leiras|raw }}</span>
		{% else %}
				<span class='alap javitva' title="Kattintásra megtekinthető az észrevétel." style="display:block;margin-bottom:3px;clear:both;"><font color=red>Utoljára javítva / lezárva -> {{ remak.admin }} ({{ remark.admindatum }})</font></span>
				<span class='alap' style='display:none;'>{{ remark.leiras|raw }}</span>								
		{% endif %}

		{% if remark.adminmegj %} 
				<br><br><span class=alap><u>Szerkesztői megjegyzés:</u><br>
				{{ remark.adminmegj|raw|nl2br }}</span>
		{% endif %}


    	</td>
    </tr>
{% endfor %}
{% endblock %}
		