{% extends "layout_simpliest.twig" %}

{% block pageHeader %}
<div class="jumbotron">
	<h3>
		<a href="/?templom={{ church.id }}" target=_blank>{{ church.nev }}</a>
		<small><strong>{% if church.ismertnev %}{{ church.ismertnev }} - {% endif %}{{ church.location.varos }}</strong><br/>
		{{ pageDescription }}</small>
	</h3>
</div>
{% endblock %}

{% block content %}
<div style="width:100%-10px;background-color:#ffffff;padding:5">  
  {{ content|raw }}
  {% if disclaimer %}
    <div style="width:100%-20px;background-color:#F5CC4C;padding:5;margin-bottom:6px" class="alap">
        {{ disclaimer|raw }}
    </div>
  {% endif %}
</div>
{% endblock %}
