{% set columns2 = true  %}
{% extends  "layout.twig" %}

{% set title = "Felhasználók" %}


{% block content %}
	{{ form|raw }}<br/>
	<table class="table table-hover table-condensed table-striped">
		<tr>
    		<th class="col-md-4">Felhasználónév / Név</th>
    		<th class="col-md-4">Email</th>
    		<th class="col-md-3">{{ field }}</th>
    		<th class="col-md-1"><span class="glyphicon glyphicon-trash" aria-hidden="true" style=""></span></th>
  		</tr>
		{% for user in users %}
			<tr>
				<td>
					<a href=?m_id={{ m_id }}&m_op=edit&uid={{ user.uid }}>
						<strong>{{ user.login }}</strong> ({{ user.nev }})
					</a>
				</td>
				<td>
					<a href="mailto:{{ user.email }}">{{ user.email }}</a>
				</td>
				<td>
					{{ user.field }}
				</td>
				<td>
					<a href="?m_id={{ m_id }}&m_op=del&uid={{ user.uid }}" class="red"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Felhasználó törlése..."></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}
