Miserend - új kép érkezett ({{ tid }})

<strong>Kedves templom-felelős!</strong><br/>
<br/>
Az egyik karbantartott templomhoz új kép érkezett:<br/>
<a href="https://miserend.hu/templom/{{ tid }}">{{ church.fullName }}</a><br/>
<img src="https://miserend.hu/{{ photo.url }}"><br/>
{{ photo.title }}<br/><br/>
https://miserend.hu{{ photo.url }}

<br/><br/><small>Ezt a levelet azért kaptad, mert a <a href="https://miserend.hu">Miserend</a> oldalon be van kapcsolva a személyes beállításoknál az email értesítések fogadása és ennek a templomnak te vagyok az egyik „gazdája”. 
    Ha nem kívánsz több ilyen leveleket kapni a továbbiakban, akkor belépés után a <a href="https://miserend.hu/user/edit">beállításoknál</a> kikapcsolhatod az értesítéseket. 
    Ha már nem kívánsz ennek a templomnak a felelősei közé tartozni, akkor írj az eleklaszlosj@gmail.com címre.
    Ha nem tudsz belépni, akkor <a href="https://miserend.hu/user/lostpassword{% if addressee %}?data={{ addressee.email }}{%  endif %}">kérhetsz új jelszót</a>.</small>

