Miserend - Köszönjük az észrevételt!

<strong>Kedves {{ remark.nev }}!</strong>

Köszönjük, hogy észrevételt küldött be a <a href="http://miserend.hu/templom/{{ church.id }}">{{ church.fullName }}</a> adatlapján. 






Kérjük továbbra is nézze oldalunkat, és ha eltérést vagy hiányosságot talál írjon nekünk.

<strong>Köszönettel:</strong>
          {% if user.nev %}{{ user.nev }}{% else %}{{ user.username }}{% endif %}, önkéntes