Miserend - Új jelszó

Kedves {% if nickname %}{{ nickname }}{% elseif nev %}{{ nev }}{% else %}{{ username }}{% endif %}!<br/>
<br/>
Kérésedre küldjük a bejelentkezéshez szükséges adatokat:<br/>
Név: <strong>{{ username }}</strong><br/>
Jelszó: <strong>{{ newpwd }}</strong><br/>
<br/>
<strong><a href="https://miserend.hu/user/edit?login={{ username }}&passw={{ newpwd }}">Belépéshez kattints ide!</a></strong>

<br/>
Kérünk, hogy a belépést követően a <a href="https://miserend.hu/user/edit">BEÁLLÍTÁSOK</a> menüben azonnal változtasd meg ezt a jelszót.<br/>
<br/>         
Miserend.hu<br/>
https://miserend.hu        