Miserend - Templomfelelős lettél! ({{ church.id }})

<strong>Kedves {{ user.nev }}!</strong><br/><br/>

Egy adminisztártor jóváhagyta, hogy a <a href="http://miserend.hu/templom/{{ church.id }}">{{ church.nev }} {% if church.ismertnev %}({{ church.ismertnev }}){% endif %}</a> a te felelősségi körödbe tartozzon.<br/>
Kérünk, hogy a következőkre figyelj:
<ul>
    <li><strong>Rendszeresen ellenőrizd a miserendet és <a href="http://miserend.hu/templom/{{ church.id }}/editschedule">javítsd</a>, ha szükség van rá.</strong>
        A szerkesztő felület elsőre kifejezetten bonyolultnak tűnhet. Ha elakadnál, akkor keress meg az eleklaszlosj@gmail.com címen minél pontosabb leírással.</li>
    <li><strong>Figyelj, hogy a templom adataival is minden rendben legyen. Ezeket is tudod <a href="http://miserend.hu/templom/{{ church.id }}/edit">módosítani</a>.</strong></li>
    <li><strong>A <a href="http://miserend.hu/templom/{{ church.id }}/eszrevetelek">beérkező észrevételek</a> a segítségedre lehetnek.</strong> 
        Te pedig azok írójának lehetsz segítségére, ha válaszolsz nekik a felületen keresztül. 
        Ezekről emailben is küldünk értesítést, ha a <a href="http://miserend.hu/user/edit">személyes beállításoknál</a> nem kapcsoltad ki.</li> 
</ul>
        <strong>Köszönjük, hogy vállaltad ezt a szolgálatot!</strong>

