Miserend - új kép érkezett ({{ tid }})

<strong>Kedves admin!</strong><br/>
<br/>
Az egyik templomhoz új kép érkezett:<br/>
<a href="https://miserend.hu/?templom={{ tid }}">{{ church.nev }} ({% if church.ismertnev %}{{ church.ismertnev }},{% endif %} {{ church.varos }})</a><br/>
<img src="https://miserend.hu/{{ photo.url }}"><br/>
{{ photo.title }}<br/><br/>
https://miserend.hu/{{ photo.url }}      