Miserend - Aktiválás

Kedves {% if nickname %}{{ nickname }}{% elseif nev %}{{ nev }}{% else %}{{ username }}{% endif %}!<br/>
<br/>
Sajnálattal látjuk, hogy bár már {{ inactiveDays }} nappal ezelőtt regisztráltál mégsem léptél még be a honlapunkra.<br/>
Regisztrált felhasználóként megjelölheted kedvenc templomaidat és így a <a href="https://miserend.hu">miserend.hu</a> főoldaláról egyetlen kattintással máris a templomod miserendjénél vagy.<br/>
Továbbá regisztrált felhasználóink vállalhatnak templomgondnokságot, ezáltal saját magad közvetlenül is tudod frissíteni a hozzád tartozó templomok adatait és miserendjeit.<br/><br/>	
Ha a felhasználónévvel vagy jelszóval van gondod, akkor új jelszó kérésére itt van lehetőség: <a href="https://miserend.hu/user/lostpassword?data={{ email }}">Elfelejtett jelszó</a>.<br/>
<br/>
Ha a regisztráció után kilencven napig nem aktiválod a regisztrációdat azzal, hogy legalább egyszer belépsz a honlapunkra, abban az esetben törölhetjük regisztrációdat.<br/>
<br/>
Miserend.hu<br/>
https://miserend.hu<br/><br/><br/>
<i>Tudtad? Most már az akadálymentességre vonatkozó adatokat is gyűjtünk az OpenStreetMap-el együttműködésben.</i>

