Miserend - Aktiválás

Kedves {% if nickname %}{{ nickname }}{% elseif nev %}{{ nev }}{% else %}{{ username }}{% endif %}!<br/>
<br/>
Sajnálattal látjuk, hogy bár már {{ inactiveDays }} nappal ezelőtt regisztráltál mégsem léptél még be a honlapunkra.<br/>
Ha a felhasználónévvel vagy jelszóval van gond, akkor új jelszó kérésére itt van lehetőség: <a href="https://miserend.hu/user/lostpassword?data={{ email }}">Elfelejtett jelszó</a>.<br/>
<br/>
Ha a regisztráció után kilencven napig nem aktiválja regisztrációját azzal, hogy legalább egyszer belép a honlapunkra, abban az esetben törölhetjük regisztrációját.<br/>
<br/>
Miserend.hu<br/>
https://miserend.hu
