{% set columns2 = true  %}
{% extends "layout.twig" %}

{% set pageTitle = "Egyházmegyei katalógus | Miserend" %}
                 
{% block content %}
    <div class="form">
        <form method=get class="form-group">
            <div class="form-group row">
                <select name=ehm class="input-sm form-control urlap">
                    <option value="">Válassz egyházmegyét</option>
                    {% for ehm in ehms %}
                        <option value="{{ ehm.id }}" {{ ehm.selected }}>{{ ehm.nev }}</option>
                    {% endfor %}
                </select>
            </div>
                <div class="form-group row">
                <input type=submit value=Mutat class="input-sm form-control urlap">
                </div>
        </form>
    </div>
    <div>
    {% for espkerID,churches in churchesGroupByEspker %}
        <h3>{{ espkers[espkerID] }} espereskerület</h3>
        <table class="table table-hover table-condensed table-striped">
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-2">Város</th>
                <th class="col-md-5">Misézőhely neve</th>
                <th class="col-md-1"><i class="{{ ICONS_MASSSCHEDULE }}" title="Miserend szerkesztése"></span></th>
                <th class="col-md-1"><i class="{{ ICONS_CHURCH_EDIT }}" aria-hidden="true" title="Templom szerkesztése"></i></th>
                <th class="col-md-1"><i class="{{ ICONS_CHURCH_SEE }}" aria-hidden="true" title="Templom lapjának megtekintése"></i></th>
                <th class="col-md-1"><i class="{{ ICONS_DELETE }}" aria-hidden="true" title="Templom és miserendje törlése"></i></th>
            </tr>
            {% for church in churches %}
                <tr>
                    <td>{{ church.jelzes|raw }}</td>
                    <td>
                        {{ church.varos }}
                    </td>
                    <td>
                        <a href="/templom/{{ church.id }}/edit" title='{{ church.ismertnev }}'>
                            <strong>{{ church.nev }}</strong>
                        </a>
                    </td>
                    <td>
                        <a href="/templom/{{ church.id }}/editschedule">
                            <i class="{{ ICONS_MASSSCHEDULE }}" aria-hidden="true" title="Miserend szerkesztése..."></i>
                        </a>
                    </td>
                    <td>
                        <a href="/templom/{{ church.id }}/edit">
                            <i class="{{ ICONS_CHURCH_EDIT }}" aria-hidden="true" title="A templom adatainak szerkesztése."></i>
                        </a>
                    </td>
                    <td>
                        <a href="/templom/{{ church.id }}">
                            <i class="{{ ICONS_CHURCH_SEE }}" aria-hidden="true" title="Ugrás a templom oldalára."></i>
                        </a>
                    </td>				
                    <td>
                        <a href="/templom/{{ church.id }}/delete" class="red">
                            <i class="{{ ICONS_DELETE }}" aria-hidden="true" title="Templom törlése..."></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    </div>
    {% if churchesGroupByEspker %}
    <br/><br/>
    <div>        
        <h3>Az alábbi szöveget kimásolva excelbe importálható</h3>
        <span class=alap>Excelben: Adatok / Szövegből oszlopok -> táblázattá alakítható</span><br/>
            <textarea style="width:100%" rows=20>
{% for espkerID,churches in churchesGroupByEspker %}
{% for church in churches %}
{{church.id}};{{church.nev}};{{church.varos}};{{espkers[espkerID]}} espereskerület;https://miserend.hu/templom/{{church.id}};{{church.location.lat}};{{church.location.lon}}
{% endfor %}
{% endfor %}
            </textarea>
    </div>
    {% endif %}
{% endblock %}
