{% macro input(array) %}
    {% if array.label %}<span class=alap> {{array.label|raw}}:</span>{% endif %}
    
    <input 
    {% if array.id %} id="{{array.id}}" {% endif %}
    {% if array.checked %} checked {% endif %}
    class="input-sm {% if array.type != 'checkbox' %}form-control{% endif %} {{ array.class }}" type="{{ array.type|default('text') }}" style="{{ array.style }}" name="{{ array.name }}" value="{{ array.value|e }}"
     size="{{ array.size|default(12) }}"
    {% if array.placeholder %} placeholder="{{array.placeholder}}" {% endif %}
     />
    
    {% if array.labelback %} <span class=alap> {{array.labelback|raw}}</span>{% endif %}
{% endmacro %}

{% macro select(array) %}
    {% if array.label %}<span class=alap> {{array.label|raw}} </span>{% endif %}
	
    <select name="{{ array.name }}"
    {% if array.id %} id="{{array.id}}" {% endif %}
    {% if array.data %} data="{{array.data}}" {% endif %}
    {% if array.disabled %} disabled="{{array.disabled}}" {% endif %}
    {% if array.onChange %} onChange="{{array.onChange|raw}}" {% endif %}
    {% if array.style %} style="{{array.style}}" {% endif %}
    class="input-sm form-control {{ array.class }}" 
	>
		{% for key, option in array.options %}
			<option value="{{ key }}" 
			{% if array.selected and key == array.selected %} selected {% endif %}
			>{{ option }}</option>
		{% endfor %}
	
    </select>
    {% if array.labelback %} <span class=alap> {{array.labelback|raw}}</span>{% endif %}

{% endmacro %}


{% macro textarea(array) %}
    {% if array.label %}<span class=alap> {{array.label|raw}} </span>{% endif %}
    
    <textarea name="{{ array.name }}" class="input-sm form-control"
    {% if array.id %} id="{{array.id}}" {% endif %}
    {% if array.onChange %} onChange="{{array.onChange|raw}}" {% endif %}
    {% if array.style %} style="{{array.style}}" {% else %} style="width:100%" {% endif %}
    {% if array.cols %} cols="{{array.cols}}" {% else %} cols="50" {% endif %}
    {% if array.rows %} rows="{{array.rows}}" {% else %} rows="10" {% endif %}
    >
    {% if array.value %}{{ array.value }}{% endif %}
    </textarea>
    
    {% if array.labelback %} <span class=alap> {{array.labelback|raw}}</span>{% endif %}
{% endmacro %}