{% extends "layout.html.twig" %}
{% set selfAdvertisement = true %}
{% set pageTitle = 'Miserend' %}

{% import "forms.twig" as forms %}


{% block extraHead %}
    <style>
        .block:after{
            clear: both;
            content: "";
            display: block;
        }
    </style>
{% endblock %}


{% block pageHeader %}
    <div class="page-header">
        <h1>Miserend <small class="hidden-xs hidden-sm text-secondary fs-3">és templom keresés</small></h1>
    </div>
{%  endblock %}


{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('home') }}

{% endblock %}


{% block leftsidebar %}
    {{ render(controller('\\App\\Controller\\ChurchController::randomChurch')) }}
{% endblock %}


{% block content %}
{#    {% include 'announcment.twig' ignore missing %}#}
    
    {{ alert|default('')|raw }}

    <div class="miseurlap">
        <form method="get" action="/templom" name="kereses" id="kereses" class="form-group" data-controller="search">
            <div class="mb-3 row">
                {{ forms.label(searchform.kulcsszo) }}
                <div class="col-sm-6">{{ forms.input(searchform.kulcsszo) }}</div>
            </div>
            <div class="mb-3 row">
                {{ forms.label(searchform.varos) }}
                <div class="col-sm-8">{{ forms.input(searchform.varos) }}</div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-4 offset-sm-4">
                    <button class="btn btn-secondary btn-sm" data-action="click->search#detailedChurchSearchButtonDidClick" data-search-target="detailedChurchSearchButton">Részletes keresés</button>
                </div>
            </div>

            <div class="mb-3 row">
                {{ forms.label(searchform.ehm) }}
                <div class="col-sm-8">{{ forms.select(searchform.ehm, {'data-search-target': 'diocese'}) }} </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 control-label">esperes kerület</label>
                <div class="col-sm-8">
                    {%- for key, item in searchform.espker -%}
                        {{ forms.select(item, {'data-search-target': 'deanDistrict'}) -}}
                    {% endfor -%}
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4"></label>
                <div class="col-sm-8">
                    {{ forms.input(searchform.gorog, {'data-search-target': 'greekOnly'}) }}
                    {{ forms.label(searchform.gorog) }}
                </div>
            </div>
            <div class="mb-3 row">
                {{ forms.label(searchform.tnyelv) }}
                <div class="col-sm-8">{{ forms.select(searchform.tnyelv, {'data-search-target': 'hasMassInLanguage'}) }} </div>
            </div>

            <div id="form_mass">
                <div class="mb-3 row">
                    {{ forms.label(searchform.mikor) }}
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm mb-3">
                            {{ forms.select(searchform.mikor, {'data-action': 'click->search#massAtDaySelectDidChange', 'data-search-target': 'massAtDay'}) }}
                            {{ forms.input(searchform.mikordatum, {'data-search-target': 'massDay'}) }}
                        </div>
                    </div>
                    <div class="cols-sm-2" style="text-align:right"><span class="btn glyphicon glyphicon-plus-sign" id="form_mass_getdetails"></span></div>      
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm mb-3">
                            {{ forms.select(searchform.mikor2, {'data-action': 'click->search#massAtTimeSelectDidChange', 'data-search-target': 'massAtTime'}) }}
                            {{ forms.input(searchform.mikorido, {'data-search-target': 'massTime'}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div id="form_mass_details">
                <div class="mb-3 row">
                    {{ forms.label(searchform.nyelv) }}
                    <div class="col-sm-8">{{ forms.select(searchform.nyelv) }} </div>
                </div>
                <div class="mb-3 row">
                    {{ forms.label(searchform.zene) }}

                    <label class="col-sm-4 control-label" >zene</label>
                    <div class="col-sm-8">
                        {% for key, item in searchform.zene %}
                            {{ forms.input(item) }}
                            {{ forms.label(item) }}<br/>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 control-label">korosztály</label>
                    <div class="col-sm-8">
                        {% for key, item in searchform.kor %}
                            {{ forms.input(item) }}
                            {{ forms.label(item) }}<br/>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3 row">
                    {{ forms.label(searchform.ritus) }}
                    <div class="col-sm-8">{{ forms.select(searchform.ritus) }}</div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        {{- forms.input(searchform.ige) -}}
                        {{ forms.label(searchform.ige) -}}
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-4 mb-5">
                <button type=submit name="q" value="SearchResultsMasses"  class="btn btn-primary">Mise keresése</button>
                <button type=submit name="q" value="SearchResultsChurches"  class="btn btn-primary">Templom keresése</button>
            </div>

        </form>
    </div>

    <div id="favorites" style="margin-top:12px">
        <h3>Kedvenc templomok</h3>
        {% if user.uid < 1 %}
            <p class="alap"><i>Bejelentkezett felhasználóink megjelelölhetnek templomokat kedvencként.</i></p>
        {% endif %}
        {% if favorites|length > 0 %}
            <ul>
                {% for key, item in favorites %}<li class="link">{{ item.li|raw }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <br><br><br>
{#	{% include '_panelnea.twig' %}#}
{%  endblock %}
