<html>
		<head>
			<title>VPP - Észrevételek</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<style TYPE="text/css">
				.alap { font-family: Arial, Verdana; font-size: 10pt; text-align: justify; }
				.urlap { font-family: Arial, Verdana;  font-size: 70%; color: #000000; background-color: #FFFFFF; }
			</style>

			<link rel="stylesheet" href="templates/style.css" type="text/css">
			<link rel="stylesheet" href="templates/newstyle.css" type="text/css">

			<link href="css/jquery-ui.icon-font.css" rel="stylesheet" type="text/css" />
			<script src="bower_components/jquery/dist/jquery.min.js"></script>
			<script src="bower_components/jquery-ui/jquery-ui.js"></script>
			<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
			<script src="js/miserend.js"></script>

		</head>

		<body bgcolor=#FFFFFF text=#000000>
		{% block content_header %}			
		<table width=100% bgcolor=#F5CC4C>
			<tr>
				<td class=alap><big><b><a href="/?templom={{ church.id }}" target=_blank>{{ church.nev }}</a></b> {{ church.ismertnev }} - <u>{{ church.varos }}</u></big><br/>
					<i>Javítások, változások bejelentésének kezelése</i></big>
				</td>
			</tr>
		</table>
		{% endblock %}
		<table width=100% bgcolor=#ECD9A4 cellpadding=0 cellspacing=1>
		{% block content %}
		{% for remark in remarks %}
		    <tr>
		    	<td valign=top width=35 bgcolor={{ cycle(['#EFEFEF', '#F3E9CD'], loop.index0) }} style="padding:3px">
		    		{% if remark.allapot == 'u' %}
					    	<img src=img/Folderdownloads.gif border=0 title='új észrevétel'>
					{% elseif remark.allapot == 'f' %}
					   		<img src=img/Filesedit.gif border=0 title='folyamatban van -> {{ remak.admin }} ({{ remark.admindatum }})'>
					{% else %}
					   		<img src=img/Hand.gif border=0 title='Javítva / lezárva -> {{ remak.admin }} ({{ remark.admindatum }})'>
					{% endif %}
				</td>
				<td valign=top width="125" bgcolor={{ cycle(['#EFEFEF', '#F3E9CD'], loop.index0) }} style="padding:3px">
					<span class=alap><i>{{ remark.datum }}</i></span><br/>
		    		{{ remark.urlap|raw }}
				</td>
		    	<td valign=top style="padding:3px" bgcolor={{ cycle(['#EFEFEF', '#F3E9CD'], loop.index0) }}>
		    		<span class=alap style="float:left;" ><b>{{ remark.nev }} ({{ remark.username }})</b>
		    		{% if remark.email %}
			    		<div style="float:right">
						  <ul class="emailmenu" style="width:33px;">
						  <li style="background-color:{{ cycle(['#EFEFEF', '#F3E9CD'], loop.index0) }};padding:1"  class="alap"><span class="ui-icon ui-icon-mail-closed" style="color:#B51A7E"></span>
						    <ul>
						      <li><a href="?op=email&rid={{ remark.rid }}"  class="alap"><span class="ui-icon ui-icon-mail-closed" style="color:#B51A7E"></span> {{ remark.email }}...</a></li>
						      <li><a href="?op=email&rid={{ remark.rid }}&type=koszonet" class="alap"><span class="ui-icon ui-icon-heart" style="color:#ff0000"></span> Köszönet írása...</a></li>
						      <li><a href="?op=email&rid={{ remark.rid }}&type=plebaniara" class="alap"><span class="ui-icon ui-icon-arrowreturnthick-1-w" class="grey"></span> Plébániára irányítás...</a></li>
						    </ul>
						  </li>
						</ul>
						</div>
		    		{% else %}
		    			<strong><span class="ui-icon ui-icon-mail-closed lightgrey" title="Nincs elérhető email cím." style="float:right;margin-left:3px;margin-right:3px"></span></strong>
		    		{% endif %}</span>
		    		{% if remark.email or remark.username != "*vendeg*" %}
		    		<span data-email="{{ remark.email }}" data-rid="{{ remark.id }}" title="A beküldő megbízhatósága állítható egyetlen kattintással: megbízható, nem megbízható vagy nem tudjuk.">
			    			<span class="reliable ui-icon ui-icon-alert alert {% if remark.megbizhato == 'n' %}red{% else %}lightgrey{% endif %}" style="float:left;font-size:1em;margin-left:3px;font-weight: bold;"></span>
			    			<span class="reliable ui-icon ui-icon-check check {% if remark.megbizhato == 'i' %}green{% else %}lightgrey{% endif %}" style="float:left;font-size:1em;margin-left:3px;font-weight: bold;"></span>
					</span>
					{% endif %}
					
				{% if remark.allapot != 'j' %}
						<br><br><span class=alap>{{ remark.leiras|raw }}</span>
				{% else %}
						<br><span class='alap javitva' title="Kattintásra megtekinthető az észrevétel."><font color=red>Utoljára javítva / lezárva -> {{ remak.admin }} ({{ remark.admindatum }})</font></span>
						<br><span class='alap' style='display:none;'><br>{{ remark.leiras|raw }}</span>								
				{% endif %}

				{% if remark.adminmegj %} 
						<br><br><span class=alap><u>Szerkesztői megjegyzés:</u><br>
						{{ remark.adminmegj|raw|nl2br }}</span>
				{% endif %}


		    	</td>
		    </tr>
		{% endfor %}
		{% endblock %}
		</table>
	</body>
</html>