{% set externalIcon %}<span class="glyphicon glyphicon-new-window"></span>{% endset %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Menü</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Miserend.hu</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">   
                {% if menu %}
                    {% for items in menu %}
                        <li class="dropdown">
                            <a href="{{ items.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ items.title }}<span class="caret"></span></a>
                                {% if items.items %}
                                <ul class="dropdown-menu">
                                    {% for item in items.items %}
                                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                                        {% endfor %}
                                </ul>
                            {% endif %}
                        </li>                        
                    {% endfor %}
                {% endif %}
                <li><a href="http://plebania.net" target="_blank">Virtuális Plébánia</a></li>                
            </ul>
            {% if user.loggedin %}
                <div class="navbar-form navbar-right" role="search">
                    <a class="button btn btn-default" href="/user/edit">{{ user.username }}</a>
                    <a class="button btn btn-default" href="/?logout=true" id="quit">Kilépés</a>
                </div>
            {% else %}
                <form class="navbar-form navbar-right" role="search"  method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="login" placeholder="Név" size="10">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="passw" placeholder="Jelszó" size="10">
                    </div>
                    <button type="submit" class="btn btn-default">Belépés</button>
                    <a class="button btn btn-default" href="/user/new">Regisztrálás</a>
                </form>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
