{% extends 'panel.twig' %}
{% set panel = 'default' %}


{% block body %}
    <figure class="figure">
        <img src="{{ constant('DOMAIN') }}/kepek/templomok/{{ photo.church_id }}/{{ photo.filename }}" class="img-responsive" loading="lazy" />
        <figcaption class="figure-caption text-end"><a href="/templom/{{ photo.church_id }}">{{ photo.church.nev }} ({{ photo.church.location.city.name }})</a></figcaption>
    </figure>
{% endblock %}