{% extends "layout_simpliest.twig" %}

{% set title = "Észrevétel beküldése" %}
{% set pageDescription = "Javítások, változások bejelentése a templom adataival, miserenddel, kapcsolódó információkkal (szentségimádás, rózsafűzér, hittan, stb.) kapcsolatban." %}


{% block pageHeader %}
<div class="jumbotron">
	<h3>
		<a href="/templom/{{ church.id }}" target=_blank>{{ church.nev }}</a>
		<small><strong>{% if church.ismertnev %}{{ church.ismertnev }} - {% endif %}{{ church.varos }}</strong><br/>
		{{ pageDescription }}</small>
	</h3>
</div>
{% endblock %}

{% block content %}
<div style="width:100%-10px;background-color:#ffffff;padding:5">  
  <h2>Köszönjük!</h2>
  <strong>A megjegyzést elmentettük és igyekszünk mihamarabb feldolgozni!</strong></br>
  <input type='button' value='Ablak bezárása' onclick='self.close()'>
  
  {% if debug < 1 %}<script language=Javascript>setTimeout(function(){self.close();},3000);</script>{% endif %}
</div>
{% endblock %}
