{% extends 'panel.twig' %}

{% import "forms.twig" as forms %}

{% set title = 'Felelősök' %}

{% block body %}
    {% if user.isadmin %}
        {% for status, holders in church.holders %}
            <table class="table">
                    <tr class="bg-primary">
                        <td colspan="2" >
                            {% set statuses = {
                                    'allowed': 'Enegedélyezett felelősök',
                                    'denied': 'Elutasított kérések',
                                    'asked': 'Engedélyezési kérések',
                                    'revoked': 'Visszavont engedélyek',
                                    'left': 'Visszalépett felelősök'
                            } %}
                             {% set updated_at = {
                                    'allowed': 'Engedélyezve',
                                    'denied': 'Elutasítva',
                                    'asked': 'Kérve',
                                    'revoked': 'Visszavonva',
                                    'left': 'Visszalépve'
                            } %}
                            {{ statuses[status] }}
                        </td>
                    </tr>
            {% for holder in holders %}

                    <tr  class="bg-secondary" >
                        <td colspan="2" bgcolor="#efefef">
                            <a href="/user/{{ holder.user.uid }}/edit">
                                    <strong>{{ holder.user.username }}</strong> ({{ holder.user.nev }})
                            </a>

                            <div style="float:right">
                                {% if status in ['allowed'] %}
                                    <i class="{{ ICONS_GRANT_ACCESS}} green" title="A felhasználó tudja szerkeszteni a templom adatait."></i>
                                {% else %}
                                    <a href="/church/{{ church.id }}/changeholders?uid={{ holder.user.uid }}&access=allowed"><i class="{{ ICONS_GRANT_ACCESS}} grey" title="Az engedélyezéshey kattints ide."></i></a>
                                {% endif %}
                                {% if status in ['denied','revoked','left']  %}
                                    <i class="{{ ICONS_DENY_ACCESS}} red" title="A felhasználó nem szerkesztheti a templom adatait."></i>
                                {% else %}
                                    <a href="/church/{{ church.id }}/changeholders?uid={{ holder.user.uid }}&access={% if status == 'asked' %}denied{% else %}revoked{% endif %}"><i class="{{ ICONS_DENY_ACCESS}} grey" title="A letiltáshoz kattints ide."></i></a>
                                {% endif %}

                            </div>
                        </td>

                    </tr>
                    {% if holder.updated_at > "2000-01-01 12:00:00"%}
                    <tr>
                        <td  class="col-md-6">{{ updated_at[status] }}:</td>
                        <td>{{ holder.updated_at|date('Y. m. d.') }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td  class="col-md-6">Utoljára aktív:</td>
                        <td>{% if holder.user.lastactive %} {{ holder.user.lastactive|date('Y. m. d.') }} {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Templomai:</td>
                        <td>{{ holder.user.responsibilities.church.allowed|length }} {% if holder.user.responsibilities.church.asked %} + {{ holder.user.responsibilities.church.asked|length }} {% endif %}</td>
                    </tr>
                    {% if holder.description %}
                        <tr>
                            <td colspan="2">„{{ holder.description}}”</td>
                        </tr>
                    {% endif %}
            {% endfor %}
            </table>
        {% endfor %}
        <FORM ENCTYPE='multipart/form-data' action="/templom/{{ church.id }}/changeholders" method=post>
            <table class="table">
                <tr class="bg-primary">
                    <td colspan="2" >Új felelős megadása</td>
                </tr>
                <tr>
                    <td colspan="2">
                        a {{ forms.select(form.holder_uid) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        b {{ forms.input(form.holder_decription) }}
                    </td>
                </tr>
                <tr>
                    <td class="ui-widget">
                        {{ forms.input(form.holder_access) }}
                        <input type=submit name='submit' value=Mehet class=urlap>
                    </td>
                </tr>
            </table>
        </form>
    {%  else  %}
		<table class="table">
        {% for holder in church.holders.allowed %}
			<tr class="bg-secondary">
				<td colspan="2"><strong>{{ holder.user.username }}</strong> ({{ holder.user.nev }})</td>
			</tr>
			<tr>
				<td>Utoljára aktív:</td><td>{{ holder.user.lastactive|date('Y. N. j.') }}</td>
			</tr>
			<tr>
				<td>Engedély:</td><td>{{ holder.updated_at|date("Y. N. j.") }}</td>
			</tr>
			<tr>
				<td colspan="2">„{{ holder.description}}”</td>
			</tr>

        {%  endfor %}
		</table>

    {%  endif  %}


  <script>
  $( function() {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );

        this.element.hide();
        this._createAutocomplete();


      },


      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";

          /* oops */
          value = "";


        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr("placeholder","Felhasználó neve")
          .attr( "title", "" )
          .addClass( "form-control" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
              "ui-tooltip": "ui-state-highlight"
            }
          });

        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },

          autocompletechange: "_removeIfInvalid"
        });
      },



      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },

      _removeIfInvalid: function( event, ui ) {

        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }

        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });

        // Found a match, nothing to do
        if ( valid ) {
          return;
        }

        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", "Nincs „" + value + "” nevű felhasználónk." )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },

      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });

    $( "#combobox" ).combobox();

  } );
  </script>


{%  endblock %}
