{% extends 'panel.twig' %}

{% set collapsible = 'collapsed' %}

{% if confessions.status is not defined %}
    {% set title = 'Gyóntatásról nincs információnk.' %}
    {% set panel = 'default' %}
{% else %}
    {% if confessions.status == 'ON' %}
        {% set title = 'Most van gyóntatás a helyszínen!' %}
        {% set panel = 'success' %}
    {% elseif confessions.status == 'OFF' %}
        {% set title = 'Most nem gyóntatnak!' %}
        {% set panel = 'info' %}
    {% else %}
        {% set title = 'Hibás gyóntatási adatink vannak... Elnézést.' %}
    {% endif %}
{% endif %}




{% set footer = true %}



{% block body %}
   
    {% if confessions.status is not defined %}
        <p>Ezen a misézőhelyen nincs gyóntatást jelző kapcsoló. Még.</p>
        <p>Új fejlesztésünk, hogy templomokban ill. gyóntatószékekben egyedi kapcsolót üzemeltetünk, amik megnyomásával automatikusan jelezni lehet honlapunk felé, hogy gyónásra van lehetőség. 
        A kapcsoló elemmel működik és megfelelő <a href="https://world.helium.com/en/network/iot/coverage" target="_blank">LoRa lefedettség</a> esetén semmilyen helyi internet vagy mobil elérhetőségre nincs szükség.</p>
        <p>További információért <a href="/staticpage/confessions">keressen meg minket</a>!</p>


    {% else %}
        <strong>Legutóbbi gyóntatások:</strong>
        <ul>
        
        {% set month_names = {
            'January': 'január', 'February': 'február', 'March': 'március', 'April': 'április', 'May': 'május', 'June': 'június',
            'July': 'július', 'August': 'augusztus', 'September': 'szeptember', 'October': 'október', 'November': 'november', 'December': 'december'
        } %}
        {% for last_period in confessions.last_periods %}
            <li>
            {% set start_dt = last_period.start|date('U') %}
            {% set now = "now"|date('U') %}
            {% set today = now|date('Y-m-d') %}
            {% set start_date = last_period.start|date('Y-m-d') %}
            {% set week_start = (now - (now|date('N') - 1) * 86400)|date('U') %}
            {% set day_names = ['vasárnap', 'hétfőn', 'kedden', 'szerdán', 'csütörtökön', 'pénteken', 'szombaton'] %}
            {% set start_time = last_period.start|date('H:i') %}
            {% set day_of_week = day_names[last_period.start|date('w')] %}
            {% set month_en = last_period.start|date('F') %}
            {% set month_hu = month_names[month_en] %}
            {% set day_of_month = last_period.start|date('j') %}
            {% if start_date == today %}
                <strong>ma {{ start_time }}
            {% elseif start_dt >= week_start %}
                <strong>{{ day_of_week }} {{ start_time }}
            {% else %}
                <strong>{{ month_hu }} {{ day_of_month }}, {{ day_of_week }} {{ start_time }}
            {% endif %}
            - 
            {% if last_period.end is defined %}
                {{ last_period.end|date('H:i') }}
            {% else %}
                most is tart
            {% endif %}
            </strong>:
            {% set hours = (last_period.duration // 3600) %}
            {% set minutes = ((last_period.duration % 3600) // 60) %}
            {% if hours > 0 %}
                {{ hours }} óra
            {% endif %}
            {% if minutes > 0 %}
                {{ minutes }} perc
            {% endif %}
            {% if hours == 0 and minutes == 0 %}
                kevesebb mint 1 perc
            {% endif %}
            </li>
        {% endfor %}  
        </ul>


    {% endif %}

    
{% endblock %}

{% block footer %}
    <small>A gyóntatásokat figyelő kapcsoló beszerezhető tőlünk. <a href="/staticpage/confessions">További részletek itt.</a></small> 
    
{% endblock %}
