<h4>Képek a templomról</h4>
<div class="als-container" id="my-als-list">
    <span class="als-prev"><img src="/img/als/thin_left_arrow_333.png" alt="prev" title="previous" loading="lazy" /></span>
    <div class="als-viewport">
        <ul class="als-wrapper">
            {% for photo in photos %}
                <li class='als-item'>
                    <a href="{{ constant('DOMAIN') }}/kepek/templomok/{{ id }}/{{ photo.filename }}" title="{{ photo.title|url_encode }}" class='als-color'>
                        <img src="{{ constant('DOMAIN') }}/kepek/templomok/{{ id }}/kicsi/{{ photo.filename }}" title="{{ photo.title }}" loading="lazy">
                    </a>
                </li>
            {% endfor %}  
            {% if photos|length < 4 %}<li class='als-item'></li>{% endif %}
            {% if photos|length < 3 %}<li class='als-item'></li>{% endif %}
            {% if photos|length < 2 %}<li class='als-item'></li>{% endif %}
        </ul>
    </div>
    <span class="als-next"><img src="/img/als/thin_right_arrow_333.png" alt="next" title="next" loading="lazy"/></span>
</div>

<script>
    $(document).ready(function () {
        $("#my-als-list").als({visible_items: 4});
        $(".als-color").colorbox({rel: "als-color", transition: "fade", maxHeight: "98%"},
                function () {
                    ga('send', 'event', 'Photos', 'templom', '4966')
                });
    });
</script>
