<div style="text-align:center">
      {% for photo in photos %}
	  <a href="{{ constant('DOMAIN') }}/kepek/templomok/{{ id }}/{{ photo.filename }}" data-lightbox="templomkepek-{{ id }}" >
		  <img 
			src="{{ constant('DOMAIN') }}/kepek/templomok/{{ id }}/kicsi/{{ photo.filename }}" 
			style="object-fit: cover; width: 90px; height: 90px; vertical-align: unset"
			title="{{ photo.title }}" 
			loading="lazy">
	  </a>
	  
	  {% endfor %}
</div>

<link rel="stylesheet" href="/node_modules/lightbox2/dist/css/lightbox.min.css" />
<script src="/node_modules/lightbox2/dist/js/lightbox.min.js"></script>

<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })
</script>