{% extends "layout.twig" %}
{% import 'macros/icons.twig' as icons %}

{% block pageHeader %}
    <div class="page-header">
        <h2>
            {% if user.loggedin %}
                <span 
                    class="{{ ICONS_FAVORITE }} {% if favorite == 1 %}yellow{% elseif favorite == 0 %}grey{% endif %}" 
                    style="float:left;font-size:1em;margin-right:3px;width:36px;height:36px" 
                    id="star" 
                    title="{% if favorite %}Kattintásra törlés a kedvencek közül.{% else %}Kattintással kedvencek közé emelés.{% endif %}" 
                    data-tid="{{ id }}">                    
                </span>
            {% else %}
                <span 
                    class="{{ ICONS_NON_FAVORITE }}  grey" 
                    style="float:left;font-size:1em;margin-right:3px;width:36px;height:36px" 
                    title="A kedvencek közé mentéshez be kell jelentkezni.">                    
                </span>
            {% endif %}
            <span title="{{ names|join(",\n ") }}">{{ names.0 }}</span>
			{% if writeAcess == true %}
				<div style="float:right" class="text-end">{% include "church/_adminlinks.twig" %}</div>
			{% endif %}
            {% if alternative_names|length > 0 %}
                <br/>
                <small>
                    <span class="hidden-xs hidden-sm">
                       {{ alternative_names.0|raw }}{% if alternative_names|length > 1 %}, <a href="#" onclick="this.style.display='none'; document.getElementById('all-names').style.display='inline'; return false;">...</a><span id="all-names" style="display:none;" onclick="document.getElementById('all-names').style.display='none'; this.previousElementSibling.style.display='inline'; return false;">
                            {{ alternative_names|slice(1)|join(", ")|raw }}                            
                        </span>
                    {% endif %}
                    </span>
                </small>
            {% endif %}
            
        </h2>
    </div>
{%  endblock %}


{% block content %}

    {{ alert|raw }}
        
    <h5><b>Frissítve ill. megerősítve:</b> {{ updated }}</h5>

    {% include '_panelcampaign.twig' with { collapsible: 'collapsed' }  %}
s
    {% if miseaktiv == 1 %}
       {% include 'angularjs.twig' %}
    <small class="text-muted">
        A naptár widget egyszerűen beépíthető más honlapba egy iframe segítségével. 
        <span id="cal-preview-{{ id }}">
            <span title="Kattints a megnyitáshoz" style="cursor:pointer;color:#337ab7;text-decoration:underline" onclick="document.getElementById('cal-full-{{ id }}').style.display='inline'; this.style.display='none'; return false;">…</span>
        </span>

        <span id="cal-full-{{ id }}" style="display:none;">
            <br/>
            <code>&lt;iframe src="https://{{ constant('DOMAIN') }}/templom/{{ id }}/calendar" width="320" height="480" frameborder="0" scrolling="no"&gt;&lt;/iframe&gt;</code>
            <br/>
            Állítsd a width/height értékeket vagy alkalmazz responsive CSS-t (pl. max-width:100%; height:auto;) a megjelenéshez.
            &nbsp;<a href="#" onclick="document.getElementById('cal-full-{{ id }}').style.display='none'; document.getElementById('cal-preview-{{ id }}').style.display='inline'; return false;" title="Bezárás">bezár</a>
        </span>
    </small>
    {% else %}
        <span class="alap">Nincs rendszeres szentmise.<br/><br/></span>
    {% endif %}
    
    {% if liturgiatv is not empty %}
        {% include 'church/_panelliturgiatv.twig' %}
    {% endif %}


    {% if misemegj %}
        {% include "panel.twig" with {title:'Kapcsolódó információk','body': misemegj|raw|nl2br } %}    
    {% endif %}
	
    {% if adorations|length > 0 %}
        {% include 'church/_paneladorations.twig' %}
    {% endif %}

    {% include 'church/_panelconfessions.twig'  %}

    {% include 'church/_panelkozossegek.twig' with {collapsible: 'collapsed'} %}

    {% if photos|length > 0 %}
        {% include "church/_photoslide.twig" %}
    {% endif %}

    {% if leiras %}
        {% include "panel.twig" with {title:'Bemutatkozás','body': leiras } %}
    {% endif %}
{% endblock %}

{% set selfAdvertisement = true %}
{% block leftsidebar %}
    {% if isChurchHolder != 'allowed '%}
        {% include "church/_panelaskingremark.twig" %}
    {% endif %}
    {% include 'announcment.twig' ignore missing %}
	
	{% if location.osm is not null %}
		{% include 'church/_panelaccessibility.twig'  %}
	{% endif %}
    
{% endblock %}

{% block rightsidebar %}
    {% include "church/_panellocation.twig" %}
    {% include 'church/_panelcontact.twig' %}
    {% if megjegyzes %}
        {% include "panel.twig" with {title:'Jó tudni','body': megjegyzes } %}
    {% endif %}
		
    {% if neighbours|length > 1 %}
        {% include 'church/_panelneighbours.twig' %}
    {% endif %}    
    
	{% include 'church/_panelfacebookpageplugin.twig' %}
{% endblock %}