{% extends "layout.twig" %}

{% import "forms.twig" as forms %}

{% set columns2 = true  %}

{% block pageHeader %}
    <div class="page-header">
        <h2>            
            OSM szerkesztése: {{ church.nev }}
			<div style="float:right" class="text-end">{% include "church/_adminlinks.twig" %}</div>
            {% if church.ismertnev != ''  %}
                <br/>
                <small>
                    &nbsp;<span class="hidden-xs hidden-sm">
                        ({{ church.ismertnev|raw }})
                    </span>
                </small>
            {% endif %}
        </h2>
    </div>
{%  endblock %}

{% block content %}

	<div class="alert alert-info">Misézőhelyeink össze vannak kötve a nyilvános OpenStreetMap adatbázissal. Ezen az oldalon az ebben az adatbázisban fellelhető adatokat kezelhetjük és módosíthatjuk.</div>
	
	<div class="alert alert-warning">Az alábbi adatok közül honlapunkon még csak az <a href="#accessibility">akadálymentesség</a> adatit használjuk és jelenítjük meg. Idővel majdnem minden adatot itt fogunk kezelni.</div>
	
    <FORM ENCTYPE='multipart/form-data' method=post>
        <input type=hidden name=church[id] value={{ church.id }}>
		<input type=hidden name=osmid value={{ church.osmid }}>
		<input type=hidden name=osmtype value={{ church.osmtype }}>
		
			
		
      		
		{% for id, section in form %}	

			<h4 id="{{ id }}">{{ section.title }}</h4>
			{% if block("section_" ~ id) is defined %}
				{{ block( "section_" ~ id )|raw }}
			{% else %}
				<p>{{ section.description|raw }}</p>
			{% endif %}
			
			
			<table class="table table-hover table-condensed table-striped" >			
			<tbody>
			{% for key, item in section.inputs %}
				<tr>
					<td class="align-middle col-md-3" align="right">{{ item['title'] }}:</td>
					<td >
						{% if item['type'] == 'input' %}
							{{ forms.input(item) }}
						{% elseif item['type'] == 'textarea' %}
							{{ forms.textarea(item) }}							
						{% else %}
						 juj
						 
						{% endif %}						
					</td>
					<td>{% if item.help %}{{ _self.helplink(key|replace({':': '_'}), ICONS_INFO ) }}{% endif %}</td>
				</tr>
				{% if item.help %}{{ _self.helptr(key|replace({':': '_'}),item.help) }}{% endif %}
			{% endfor %}
			</tbody>
			</table>
			
		{% endfor %}
						
            <tr>
			
                <td>
                    <div align=right><input type=submit name='submit' value=Mehet class=urlap>&nbsp;</div>
                </td>
                <td>					
                    <input type=radio name=modosit value=i class=urlap checked><span class=alap> és újra módosít</span><br/>
                    <input type=radio name=modosit value=m class=urlap><span class=alap> és tovább a miserendre</span><br/>
                    <input type=radio name=modosit value=n class=urlap><span class=alap> és vissza a listába</span><br/>
                    <input type=radio name=modosit value=t class=urlap><span class=alap> és vissza a templom oldalára</span>
                </td>
                <td></td>
            </tr>
        </table>
    </form>                
    
	<div class="alert alert-info">Részletesebb adatszerkesztési lehetőségekért lépj be valamelyik OSM szerkesztőbe saját névvel és ottan tedd, mit tenni akarsz.</div>
    
    <script>
  $( function() {
		    	
   
    $( ".info" ).on( "click", function() {         
               $('#help' + $( this ).data('id') ).toggle(600);
    });
 
    $( ".church-link-add" ).on( "click", function() {
      newLinkDialog.dialog( "open" );
    });
    
   
  } );
  </script>
  

  <style>
   .autocomplete-button {
            margin-left: 5px;
            cursor: pointer;
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            background-color: #ddd;
            border-radius: 5px;
        }
 </style>
	
 <script>
 $(document).ready(function(){
  	
	var options = {
	 {% for id, section in form %}
      {% for key, item in section.inputs %}
		{% if item.options %}
			"{{ key }}" :  
				{{ item.options|json_encode(constant('JSON_PRETTY_PRINT') b-and constant('JSON_NUMERIC_CHECK') )|raw }} ,
        {% endif %}        
      {% endfor %}
    {% endfor %}
	};
 
	
	$(".form-control").each(function(){
		var id = $(this).attr('id');
		
		if(options[id]) {
			$(this)
				
				.autocomplete({
					delay: 0,
					minLength: 0,
					source: options[id]
				});
				
			// Add button after the input
			var button = $('<a class="autocomplete-button">&#9660;</a>');
			$(this).closest('td').next("td").prepend(button);

			// Attach click event to the button
			
			
			button.click(function() {
                    // Trigger the autocomplete search
					$('#' + id.replace(/:/g, '\\:') ).autocomplete("search", "");
                });
			
			
			
			
		}
	});
 
 
 } );
 </script>
  

{% endblock %}

{% block section_religious_administration %}
	<p>A misézőhely egyházigazgatási területi beosztását megpróbáljuk térkép alapján beállítani. Az alábbi részekhez így csak akkor kell hozzányúlni, hogy ha nem sikerült megtalálnunk az egyházmegyét, espereskerületet, plébániát. Vagy ha valamiért nem a területileg illetékes egyházmegyéhez/espereskerülethez tartozik a misézőhely például a Katonai Ordinariátus egyféle enklévájaként.</p>
	A következő területi beosztást találtuk meg:
	<ul>
	{% for adm in administration[ osmtags.denomination ~ '_administration'] %}
		<li><strong>{{ adm.name }}</strong></li>
	{% endfor %}
	</ul>
{% endblock %}


{% block section_location %}
	<p>Itt kifejezetten a templomnak az adataira vagyunk kíváncsiak (és nem pl. a helyi plébániáéra).</p>
	A területi elhelyezkedése alapján azért megtaláltunk már így is némi információt:
	<ul>
	{% for adm in administration[ 'administration'] %}
		<li><strong>{{ adm.name }}</strong></li>
	{% endfor %}
	</ul>

{% endblock %}


{% block rightsidebar %}    
{% endblock %}

{% macro helplink(id, icon) %}
    <span title="Súgó" class="grey {{ icon }} info" aria-hidden="true" data-id="{{ id }}"></span>
{% endmacro %}

{% macro helptr(id, help) %}
    <tr style="display:none" id="help{{ id }}"><td colspan="3"><i>{{ help|raw }}</i></td></tr>
	<tr style="display:none" ></tr>
{% endmacro %}