{% import "forms.twig" as forms %}

{% extends "layout.twig" %}


{% block rightsidebar %}
	{% if not new %}
		<div class="panel-group" id="accordion">
		    <div class="panel panel-default">
		        <div class="panel-heading visible-lg-block visible-md-block">
		            <h4 class="panel-title">További információk</h4>
		        </div>
		        <div id="collapseOne" class="panel-collapse">
		            <table class="table small">
		            	<tr><td>Regisztráció:<td><td>{{ edituser.regdatum}}</td></tr>
		            	<tr><td>Utolsó belépés:<td><td>{{ edituser.lastlogin}}</td></tr>
		            	<tr><td>Utolsó aktivitás:<td><td>{{ edituser.lastactive }}</td></tr>
		            </table>
		        </div>
		    </div>
		</div>
		{% if edituser.remarksCount > 0 %}
		<div class="panel-group" id="accordion">
		    <div class="panel panel-default">
		        <div class="panel-heading visible-lg-block visible-md-block">
		            <h4 class="panel-title">Észrevételei</h4>
		        </div>
	            <ul class="list-group">
	                {% for key, remark in edituser.remarks %}
	                	<li class="list-group-item">
	                		<a href="/templom/{{ remark.church.id }}">{{ remark.church.nev }}</a> ({{ remark.church.varos }})<br/>
	                		{{ remark.datum }} {% if user.isadmin %}<a href="{{ remark.marker.url }}">{% endif %}{{ remark.marker.html|raw }}{% if user.isadmin %}</a>{% endif %}
	            		</li>
	                {% endfor %}
	                {% if edituser.remarksCount - (edituser.remarks)|length  > 0 %}
	                <li class="list-group-item">És további {{ edituser.remarksCount - (edituser.remarks)|length }} ...</li>
	                {% endif %}
	            </ul>            
		    </div>
		</div>
		{% endif %}
                {% if edituser.responsible.church|length > 0 %}
		<div class="panel-group" id="accordion">
		    <div class="panel panel-default">
		        <div class="panel-heading visible-lg-block visible-md-block">
		            <h4 class="panel-title">Felelősségi körei</h4>
		        </div>
	            <ul class="list-group">
	                {% for key, church in edituser.responsible.church %}
	                	<li class="list-group-item">
	                		<a href="/templom/{{ church.id }}">{{ church.nev }}</a> ({{ church.varos }})	                		
	            		</li>
	                {% endfor %}
	                {% if edituser.remarksCount - (edituser.remarks)|length  > 0 %}
	                <li class="list-group-item">És további {{ edituser.remarksCount - (edituser.remarks)|length }} ...</li>
	                {% endif %}
	            </ul>            
		    </div>
		</div>
		{% endif %}
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block content %}
        {% if not newusercreated %}
	<form method="post">
		<input type="hidden" name="q" value="user/edit">

		{% if edit %}<input type="hidden" name="edituser[uid]" value="{{ edituser.uid }}">{% endif %}

		<div class="form-group has-feedback">
    		<label for="username">Felhasználói név {% include 'help_link.twig' with {'id': 18} %}</label>
    		<input type="text" class="form-control" id="username" name="edituser[username]" {% if not new %}readonly{% endif %} value="{{ edituser.username }}">
    		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		    {% if helptext %}<p class="help-block">Ékezet és speciális karakterek nélkül, maximum 20 betű. Szóköz, idézőjel és aposztróf NEM lehet benne! Ez a név azonosít, ezzel tudsz majd belépni, de alább lehetőség van külön becenév megadására is.</p>{% endif %}
  		</div>

		<div class="form-group">
    		<label for="nickname">Becenév, megszólítás {% include 'help_link.twig' with {'id': 17} %}</label>
    		<input type="text" class="form-control" id="nickname" name="edituser[nickname]"  value="{{ edituser.nickname }}">
		    {% if helptext %}<p class="help-block">Ide keresztnevet, vagy becenevet célszerű írni. Alapvetően ezen a néven jelensz meg oldalunkon, az azonosításhoz mellette kicsiben jelezzük a bejelentkezési neved is.</p>{% endif %}
  		</div>

		<div class="form-group">
    		<label for="name">Név {% include 'help_link.twig' with {'id': 20} %}</label>
    		<input type="text" class="form-control" id="name" name="edituser[name]"  value="{{ edituser.name }}">
		    {% if helptext %}<p class="help-block">Teljes név. Haszon pl. észrevétel vagy adatmódosítés beküldése esetén, hogy a szereksztők könnyebben azonosíthassák a beküldőt.</p>{% endif %}
  		</div>

  		{% if edit %}
			<div class="form-group">
	    		<label for="password1">Új jelszó</label>
	    		<input type="password" class="form-control" id="password1" name="edituser[password1]">
	  		</div>
			<div class="form-group has-feedback">
	    		<label for="password2">Új jelszó újra</label>
	    		<input type="password" class="form-control" id="password2" name="edituser[password2]">
    			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
	  		</div>
  		{% endif %}

		<div class="form-group">
    		<label for="email">Email {% include 'help_link.twig' with {'id': 19} %}</label>
    		<input type="email" class="form-control" id="email" name="edituser[email]" value="{{ edituser.email }}">
		    {% if helptext %}<p class="help-block">A regisztrációhoz szükséges egy valós emailcím! Erre a címre küldjük ki az ideiglenes jelszót. Elküldés előtt kérjük ellenőrizd!</p>{% endif %}
  		</div>

		<div class="form-group">
	    	<label for="volunteer">Önkéntesség</label>
	    	<div id="volunteer" class="checkbox">
	        	<label>
	        		<input type="hidden" name="edituser[volunteer]" value="0">
      				<input type="checkbox" name="edituser[volunteer]" value="1" {% if edituser.volunteer %}checked{% endif %}> Vállalom heti hét templom frissítését.
    			</label>
    			{% if helptext %}<p class="help-block">Vállalom, hogy hetente hét régen frissült templom miserendjét megpróbálom megtudakolni és megosztani a többiekkel. (Emailben értesítünk hétről hétre a megfelelő templomokról.)</p>{% endif %}
	    	</div>
		</div>

		{% if 'user' in user.roles %}
			<div class="form-group">
		    	<label for="ok">Engedélyezés/kizárás</label>
		    	<div id="ok" class="checkbox">
		        	<label>
	      				<input type="checkbox" name="edituser[ok]" value="i" {% if edituser.ok == 'i' %}checked{% endif %}> Aktív / engedélyezett
	    			</label>
	    			{% if helptext %}<p class="help-block">Vállalom, hogy hetente hét régen frissült templom miserendjét megpróbálom megtudakolni és megosztani a többiekkel. (Emailben értesítünk hétről hétre a megfelelő templomokról.)</p>{% endif %}
		    	</div>
			</div>


			<div class="form-group">
		    	<label for="roles">Jogosultságok</label>{{ edituser.jogok.miserend }}
				{% for key, item in roles %}
		    		<div id="roles" class="checkbox">
		        		<label>
	      					<input type="checkbox" name="edituser[roles][]" value="{{ item }}" {% if item in edituser.roles %}checked{% endif %}> {{ item }}
	    				</label>
		    		</div>
    			{% endfor %}		    	
			</div>
		{% endif %}


  		{% if new %}
			<div class="form-group">
		    	<label for="terms">Szabályzat és házirend</label>
		    	<div id="terms" class="checkbox">
		        	<label>
	      				<input type="checkbox" name="terms" value="1"> Elfogadom a <a href="/hazirend" target="_blank">Miserend házirendjét</a> és vállalom, hogy mindenben betartom!
	    			</label>
		    	</div>
			</div>
		{% endif %}

		<input class="form-control" type="submit" name="submit" value="{% if new %}Létrehoz{% else %}Módosít{% endif %}"/>	    
	</form>
        {% endif %}
{% endblock %}