{% extends "layout.twig" %}

{% block content %}

     {{ alert|raw }}

    {% include 'announcment.twig' ignore missing %}
    
    {% if churches %}
        <div class="row" style="margin-bottom:12px">
            Összesen: {{ pagination.resultsCount }} találat<br/>
            Listázás: {{ (pagination.active * pagination.take) + 1 }} - 
            {% if pagination.resultsCount < ( pagination.active + 1 ) * pagination.take %}
                {{ pagination.resultsCount }}
            {% else %}
                {{ ( pagination.active + 1 ) * pagination.take }} 
            {% endif %}
        </div>

        {% for church in churches %}
            <div class="row" style="margin-bottom:6px">
                <div class="col-md-10">
                    <a href='/templom/{{ church.id }}' class=felsomenulink title='{{ church.ismertnev }}'>
                        <b>{{ church.nev }}</b> <font color=#8D317C>({{ church.varos }})</font>
                    </a>
                    {% if church.ismertnev %}
                        <br/><span class="alap" style="margin-left: 20px; font-style: italic;">{{ church.ismertnev }}</span>
                    {% endif %}
                </div>
                {% if church.writeAccess %}
                    <div class="col-md-2">
                        <a href="/templom/{{ church.id }}/editschedule">
                            <span class="glyphicon glyphicon-time" aria-hidden="true" title="Miserend szerkesztése..."></span>
                        </a>
                        <a href="/templom/{{ church.id }}/edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" title="A templom adatainak szerkesztése.">
                        </a>
                        <a href="/templom/{{ church.id }}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ugrás a templom oldalára."></span>
                        </a>
                    </div>
                {% endif %}

            </div>    
        {% endfor %}
    {% endif %}

    {% include '_pagination.twig' %}
{% endblock %}

{% block leftsidebar %}
    {% include "_panelsearchforchurch.twig" %}
{% endblock %}
