{% set columns2 = true  %}

{% extends "layout.twig" %}

{% set pageTitle = 'Szentmise keresés | Miserend' %}


{% block pageHeader %}
    <div class="page-header">
        <h1>Szentmise keresés</h1>
    </div>
    {% include 'announcment.twig' ignore missing %}
{%  endblock %}

{% block content %}

    {{ alert|raw }}
    {{ tartalom|raw }}
    <strong><span class=kiscim>Keresési paraméterek:</span></strong><br/>
    {% if filters is defined and filters|length %}
        {% for filter in filters %}
            <span class="alap"><img src="/img/negyzet_lila.gif" align="absmiddle"> {{ filter|striptags('<i><b>')|raw }}</span><br/>
        {% endfor %}
    {% else %}
        <span class="alap">Nincsenek szűrők</span><
    {% endif %}
    <br/>

    {% if results %}

            <div class="row" style="margin-bottom:12px">
                Összesen: {{ pagination.resultsCount }} találat<br/>
                Listázás: {{ (pagination.active * pagination.take) + 1 }} - 
                {% if pagination.resultsCount < ( pagination.active + 1 ) * pagination.take %}
                    {{ pagination.resultsCount }}
                {% else %}
                    {{ ( pagination.active + 1 ) * pagination.take }} 
                {% endif %}
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th >Időpont</th>
                        <th>Mise</th>
                        <!--<th >Ismétlődés</th>-->
                        <th >Tulajdonságok</th>
                        <th>Templom</th>
                        <!--{% if user.isadmin %}<th ></th>{% endif %}-->
                    </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    {% set church = result.church %}
                    <tr>
                        <td class="align-middle">
                            <span class="badge badge-primary" title="{{ result.title ~ ' ' ~ result.rite }}">{{ result.start_date|miserend_date('Y-m-d H:i') }}</span>
                        </td>

                        <td class="align-middle">
                            <img src="/cal_images/types/{{ result.rite|lower }}.svg" alt="{{ result.rite|trans }}" title="{{ result.rite|trans }}" style="height:1.3em; margin-right:6px; vertical-align:middle;">
                            <strong class="mass-list-title">{{ result.title }}</strong>
                        </td>

                        <!--<td class="align-middle">
                            {% if result.readable_rrule %}
                                <div class="text-muted small">{{ result.readable_rrule }}</div>
                            {% endif %}
                        </td>-->

                        <td class="align-middle">
                            {% if result.lang and result.lang != 'hu' %}
                                <img src="/cal_images/flags/{{ result.lang|lower }}.svg" alt="{{ result.lang|trans }}" title="{{ result.lang|trans }}" style="height:1.3em; margin-right:6px; vertical-align:middle;">
                            {% endif %}
                            {% if result.types is iterable and result.types|length %}
                                {% for type in result.types %}
                                    <img src="/cal_images/types/{{ type|lower }}.png" alt="{{ type|trans }}" title="{{ type|trans }}" style="height:1.3em; margin-right:6px; vertical-align:middle;">
                                {% endfor %}
                            {% endif %}
                            {% if result.comment %}
                                <i class='fas fa-info-circle' style='font-size:medium' 	title='{{ result.comment|striptags }}'></i>                                
                            {% endif %}
                        </td>

                        <td class="align-middle">
                            <a href='/templom/{{ church.id }}' class=felsomenulink title='{{ church.names|slice(1)|join(', ') }}'>
                                <b>{{ church.names.0 }}</b>
                                <font color=#8D317C>
                                    {% if church.varos is iterable %}
                                        ({{ church.varos.0 }})
                                    {% else %}
                                        ({{ church.varos }})
                                    {% endif %}
                                </font>
                            </a>
                            {% if church.alternative_names.0 %}
                                <br/><span class="alap" style="margin-left: 20px; font-style: italic;" title="{{ church.alternative_names|slice(1)|join(', ') }}">{{ church.alternative_names.0 }}</span>
                            {% endif %}
                        </td>
                        <!--{% if user.isadmin %}
                            <td>
                                {% include "church/_adminlinks.twig" with church %}
                            </td>
                        {% endif %}-->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% include '_pagination.twig' %}


{% endblock %}

{% block leftsidebar %}
    {% include "panel.twig" with {title:'Új keresés','body': templomurlap,'panel':'primary' } %}
{% endblock %}
