{% extends "layout_simpliest.twig" %}

{% block content %}
    {% if mail %}
        <form method=post>
            {% block extraInput %}{% endblock %}
            <table class="table table-striped">
                <tr>
                    <td><strong>Címzett:</strong></td>
                    <td>
                        {% if mail.to %}
                            {{ mail.to }}<input type=hidden name=email value="{{ mail.to }}">                    
                        {% else %}
                            <input type=text name=email class="form-control">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Tárgy:</strong></td>
                    <td>
                        {% if mail.subject %}
                            {%  if mail.status != 'sent' %}
                                <input type=text name=subject value="{{ mail.subject }}" class="form-control">
                            {% else %}
                                {{ mail.subject }}<input type=hidden name=subject value="{{ mail.subject }}">                    
                            {%  endif %}
                        {% else %}
                            <input type=text name=subject value="Miserend - " class="form-control">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Típus azonosító:</strong></td>
                    <td>{{ mail.type }}<input type=hidden name=type value="{{ mail.type }}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        {%  if mail.status == 'sent' %}                        
                            {{ mail.body|raw }}
                        {% else %}
                            <div class="ui-widget-content ui-corner-all">
                                <textarea name="text" id="codehere" class="form-control tinymce" rows="20" style="width:100%;margin-bottom:6px">{{ mail.body|nl2br }}</textarea>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {%  if mail.status != 'sent' %}
                <tr>
                    <td colspan="2">
                        <input type="submit" name="send" class="btn btn-default" value="Küldés">&nbsp;
                        <input type="submit" name="clear" class="btn btn-default" value="Mégsem" onclick="history.go(-1);">
                    </td>
                </tr>
                {% endif %}
            </table>     
    </form>
    <script language="javascript" type="text/javascript" src="/vendor/tinymce/tinymce/tinymce.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/tiny_mce_init.js"></script>
{% endif %}
{% endblock %}